{% load static %}

<!DOCTYPE html>
<html
    class="no-js ptf-is--home-default ptf-is--header-style-3 ptf-is--footer-style-1 ptf-is--custom-cursor ptf-is--footer-fixed"
    lang="en">

<head>
    <meta charset="utf-8">
    <title>Stunsky</title>
    <meta name="description" content="Multipurpose HTML5 Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--Favicon-->
    <link rel="icon" type="image/png" href=" {% static 'img/root/favicon.png' %} ">
    <!--Framework-->
    <link rel="stylesheet" href=" {% static 'css/framework/bootstrap-reboot.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/framework/bootstrap-grid.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/framework/bootstrap-utilities.min.css' %} ">
    <!--Plugins-->
    <link rel="stylesheet" href=" {% static 'css/ptf-plugins.min.css' %} ">
    <!--Fonts-->
    <link rel="stylesheet" href="../../../fonts.googleapis.com/css2b222.css?family=Amiri&amp;display=swap">
    <link rel="stylesheet" href=" {% static 'fonts/CerebriSans/style.css' %} ">
    <!--Icons-->
    <link rel="stylesheet"
        href=" {% static 'fonts/LineIcons-PRO/WebFonts/Pro-Light/font-css/LinIconsPro-Light.css' %} ">
    <link rel="stylesheet" href=" {% static 'fonts/LineIcons-PRO/WebFonts/Pro-Regular/font-css/LineIcons.css' %} ">
    <link rel="stylesheet" href=" {% static 'fonts/Socicons/socicon.css' %} ">
    <!--Style-->
    <link rel="stylesheet" href=" {% static 'css/ptf-main.min.css' %} ">
    <!--Custom-->
    <link rel="stylesheet" href=" {% static 'css/custom.css' %} ">

</head>

<body>
    <!--Site Wrapper-->
    <div class="ptf-site-wrapper">

        <div class="ptf-site-wrapper__inner">
            {% include 'partials/header.html' %}

            {% block content %}

            {% endblock %}

        </div>

        {% include 'partials/footer.html' %}

        <!-- Phone button  -->
        <a href="tel:9526850904" style="position:fixed; width:31px; height:34px; bottom:77px; right:21px; z-index:100;"> <img src=" {% static 'img/telephone-call.png' %} " class="img-fluid" alt=""></a>
        
        <!-- Whatsapp Button -->
        <a href="https://api.whatsapp.com/send?phone=919526850904&text=Welcome to Stunsky" target="_blank" style="	position:fixed; width:36px; height:45px; bottom:18px; right:15px; z-index:100;"><img src=" {% static 'img/whatsapp (1).png' %} " class="img-fluid" alt=""></a>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </div>
    <!--Libs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src=" {% static 'scripts/ptf-plugins.min.js' %} "></script>
    <script src=" {% static 'scripts/ptf-helpers.js' %} "></script>
    <script src=" {% static 'scripts/ptf-controllers.min.js' %} "></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.3/dist/sweetalert2.all.min.js"></script>
</body>

</html>