{% load static %}

<!--Footer-->
{% comment %}
<footer class="ptf-footer ptf-footer--style-1">
    <div class="container-xxl">
        <div class="ptf-footer__top">
            <div class="row">
                <div class="col-12 col-xl-3">
                    <!--Animated Block-->
                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                        <div class="ptf-footer-heading has-black-color" style="max-width: 37.5rem;color:white;">About Us
                        </div>
                        <p style="font-size: 20px;text-align: justify;color:white;">Quis autem vel eum iure reprehend
                            erit quiin voluptate velit esse quam
                            nihil molestiae consequatur velllu m
                            qui dolorem eum fugiat quo</p>
                        <!-- <div class="ptf-footer-heading has-black-color">Start by <a class="has-accent-1 text-decoration-underline" href="contact.html">Saying Hi!</a></div> -->
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3 ml-5">
                    <!--Animated Block-->
                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
                        <div class="ptf-widget ptf-widget-links has-black-color">
                            <h1 class="ptf-widget-title" style="color:white;"><b>Quick Links</b> </h1>
                            <ul>
                                <li><a href="#">Faqs</a></li>
                                <li><a href="#">Term & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Affiliate</a></li>
                                <li><a href="#">Services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                    <!--Animated Block-->
                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
                        <div class="ptf-widget ptf-widget-text">
                            <h4 class="ptf-widget-title">Contact</h4>
                            <p class="fz-24">90 Fairground Rd, FL 3290, United States</p><a
                                class="fz-40 has-black-color" href="mailto:contact@stunsky.com">contact@stunsky.com</a>
                        </div>
                        <div class="ptf-widget ptf-widget-links has-black-color">
                            <ul>
                                <li><a href="#">Works</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                    <!--Animated Block-->
                    <div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
                        <div class="ptf-widget ptf-widget-text">
                            <h4 class="ptf-widget-title">Contact</h4>
                            <p class="fz-24">90 Fairground Rd, FL 3290, United States</p><a
                                class="fz-40 has-black-color" href="mailto:hello@moonex.co">hello@moonex.co</a>
                        </div>
                        <div class="ptf-widget ptf-widget-links has-black-color">
                            <ul>
                                <li><a href="#">Works</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ptf-footer__bottom">
            <div class="row align-items-center">
                <div class="col-12 col-md"><a href="index.html"><img src=" {% static 'img/root/logo-dark.png' %} "
                            alt="" loading="lazy"></a></div>
                <div class="col-12 col-md">
                    <p class="ptf-footer-copyright has-black-color">© 2021 <span>Moonex</span>. All Rights Reserved.</p>
                </div>
                <div class="col-12 col-md d-none d-xl-block"></div>
                <div class="col-12 col-lg">
                    <div class="ptf-footer-socials has-black-color">
                        <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-1 twitter" href="#"
                            target="_blank"><i class="socicon-twitter"></i></a>
                        <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-1 facebook" href="#"
                            target="_blank"><i class="socicon-facebook"></i></a>
                        <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-1 instagram" href="#"
                            target="_blank"><i class="socicon-instagram"></i></a>
                        <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-1 pinterest" href="#"
                            target="_blank"><i class="socicon-pinterest"></i></a>
                        <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-1 dribbble" href="#"
                            target="_blank"><i class="socicon-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endcomment %}

<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-12 col-12 mb-30">
                    <div class="single-cta">
                        <i class="lnil lnil-map-marker  "></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>1010 Avenue, sw 54321, chandigarh</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-12 col-12 mb-30">
                    <div class="single-cta">
                        <i class="lnil lnil-phone-ring"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>+91 9526850904</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-lg-4 col-sm-12 col-12 mb-30">
                    <div class="single-cta">
                        <i class="lnil lnil-envelope-alt"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>contact@stunsky.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12 col-12 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <h3 class="footerh3"><b> About Us</b></h3>
                        </div>
                        <div class="footer-text">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor
                                incididuntut consec tetur adipisicing
                                elit,Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="footer-social-icon footericon">
                            <span class="footerh3">Follow us</span>
                            <a href="https://m.facebook.com/story.php?story_fbid=pfbid028GbWPxZDEgLgbo8hztEo5bjbgxkwwJ6Yfu39VzqvyrJJoh4LCDy7L2zFVR2Srb5wl&id=103864742313913"
                                class="mr-0"><i class="lnil lnil-facebook"></i></a>
                            <a href="#" class="mr-0"><i class="lnil lnil-twitter"></i></a>
                            <a href="https://www.instagram.com/stunsky.dt/" class="mr-0"><i
                                    class="lnil lnil-Instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-6 col-6 ">
                    <div class="footer-social-icon footer-widget footersm">
                        <div class="footer-widget-heading">
                            <h3 class="footerh3">Follow us</h3>
                        </div>
                        <a href="https://m.facebook.com/story.php?story_fbid=pfbid028GbWPxZDEgLgbo8hztEo5bjbgxkwwJ6Yfu39VzqvyrJJoh4LCDy7L2zFVR2Srb5wl&id=103864742313913"
                            class="mr-0"><i class="lnil lnil-facebook"></i></a>
                        <a href="#" class="mr-0"><i class="lnil lnil-twitter"></i></a>
                        <a href="https://www.instagram.com/stunsky.dt/" class="mr-0"><i
                                class="lnil lnil-Instagram"></i></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 mb-30" style="align-content: center;">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3 class="footerh3">Useful Links</h3>
                        </div>
                        <ul>
                            <div class="row">
                                <div class="col-sm-12">
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                </div>
                                <div class="col-sm-12">
                                    <li><a href="{% url 'about us' %}">About</a></li>
                                </div>
                                <div class="col-sm-12">
                                    <li><a href="{% url 'Blog' %}">Blog</a></li>
                                </div>
                                <div class="col-sm-12">
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </div>
                                <!-- <div class="col-sm-12">
                                        <li><a href="#">Setting & Privecy</a></li>
                                    </div> -->






                            </div>


                        </ul>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3 class="footerh3">Instagram</h3>
                        </div>
                        <div class="footer-text">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4 pb-3 pr-3 pl-0">
                                    <img src="static/img/about-us-image-1.png" alt="">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4 pb-3 pr-3 pl-0">
                                    <img src="static/img/about-us-image-1.png" alt="">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4 pb-3 pr-3 pl-0">
                                    <img src="static/img/about-us-image-1.png" alt="">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4 pb-3 pr-3 pl-0">
                                    <img src="static/img/about-us-image-1.png" alt="">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4 pb-3 pr-3 pl-0">
                                    <img src="static/img/about-us-image-1.png" alt="">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4 pb-3 pr-3 pl-0">
                                    <img src="static/img/about-us-image-1.png" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>© 2022 Stunsky Design and Technologies. All rights reserved.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">|</a></li>
                            <li><a href="#">Privacy policy</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Phone button  -->
<a href="tel:9526850904" style="position:fixed; width:34px; height:34px; bottom:77px; right:21px; z-index:100;">
    <img src=" {% static 'img/viber.png' %} " class="img-fluid" alt=""></a>

<!-- Whatsapp Button -->
<a href="https://api.whatsapp.com/send?phone=919526850904&text=Welcome to Stunsky" target="_blank"
    style="	position:fixed; width:34px; height:45px; bottom:18px; right:21px; z-index:100;"><img
        src=" {% static 'img/whatsapp (2).png' %} " class="img-fluid" alt=""></a>
