{% load static %}

<!--Site Wrapper Inner-->

<!--Header-->
<header class="ptf-header ptf-header--style-3">
    <div class="ptf-navbar ptf-navbar--main ptf-navbar--sticky">
        <div class="container-xxl">
            <div class="ptf-navbar-inner">
                <!--Logo-->
                <a class="ptf-navbar-logo" href="{% url 'index' %}">
                    <img class="black" src="{% static 'img/root/logo-white.png' %}" alt="" loading="lazy">
                </a>
                <!--Navigation-->
                <nav class="ptf-nav ptf-nav--default">
                    <!--Menu-->
                    <ul class="sf-menu">
                        <li class="menu-item-has-children two-columns"><a href="{% url 'index' %}"><span>Home</span></a>

                        </li>
                        <li class="menu-item-has-children two-columns"><a
                                href="{% url 'about us' %}"><span>About</span></a>

                        </li>
                        <li class="menu-item-has-children"><a href="#"><span>Services</span></a>

                            <ul class="sub-menu">
                                <li><a href="{% url 'Graphic Design' %}" class="atag"><span>Graphics Design</span></a>
                                </li>
                                <li><a href="{% url 'UI UX' %}" class="atag"><span>UI/UX Solution</span></a>
                                </li>
                                <li><a href="{% url 'Package Design' %}" class="atag"><span>Packaging</span></a>
                                </li>
                                <li><a href="{% url 'Web Development' %}" class="atag"><span>Web development</span></a>
                                </li>
                                <li><a href="{% url 'other offerings' %}" class="atag"><span>Other Offerings</span></a>
                                </li>
                            </ul>

                        </li>

                        <li class="menu-item-has-children"><a href="{% url 'portfolio' %}"><span>Portfolio</span></a>

                        </li>
                        <li class="menu-item-has-children two-columns"><a
                                href="{% url 'contact' %}"><span>Contact</span></a>

                        </li>
                    </ul>
                </nav>

                <!--Offcanvas Menu Toggle--><a class="ptf-offcanvas-menu-icon js-offcanvas-menu-toggle" href="#"><i
                        class="lnir lnir-menu-alt-5"></i></a>
            </div>
        </div>
    </div>
</header>
<!--Site Overlay-->
<div class="ptf-site-overlay"></div>
<!--Offcanvas Menu-->
<div class="ptf-offcanvas-menu">
    <div class="ptf-offcanvas-menu__header">
        <div class="ptf-language-switcher"><a class="is-active" href="#">Eng</a><a href="#">Fra</a><a href="#">Ger</a>
        </div><a class="ptf-offcanvas-menu-icon js-offcanvas-menu-toggle" href="#"><i class="lnil lnil-close"></i></a>
    </div>
    <div class="ptf-offcanvas-menu__navigation">
        <!--Navigation-->
        <nav class="ptf-nav ptf-nav--offcanvas">
            <!--Menu-->
            <ul class="sf-menu">
                <li class="menu-item-has-children two-columns"><a href="{% url 'index' %}"><span>Home</span></a>

                </li>
                <li class="menu-item-has-children"><a href="{% url 'about us' %}"><span>About</span></a>

                </li>
                <li class="menu-item-has-children"><a href="#"><span>Services</span></a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'Graphic Design' %}"><span>Graphics Design</span></a>
                        </li>
                        <li><a href="{% url 'UI UX' %}"><span>UI/UX Solution</span></a>
                        </li>
                        <li><a href="{% url 'Package Design' %}"><span>Packaging</span></a>
                        </li>
                        <li><a href="{% url 'Web Development' %}"><span>Web development</span></a>
                        </li>
                        <li><a href="{% url 'other offerings' %}"><span>Other Offerings</span></a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children two-columns"><a href="{% url 'careers' %}"><span>Careers</span></a>
                </li>
                <li class="menu-item-has-children two-columns"><a href="{% url 'Blog' %}"><span>Updates</span></a>
                </li>
                <li class="menu-item-has-children two-columns"><a
                        href="{% url 'portfolio' %}"><span>Portfolio</span></a>
                </li>
                <li class="menu-item-has-children two-columns"><a href="{% url 'contact' %}"><span>Contact</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="ptf-offcanvas-menu__footer">
        <p class="ptf-offcanvas-menu__copyright">© 2022 Stunsky Design and Technologies. All rights reserved.
        </p>
        <div class="ptf-offcanvas-menu__socials">
            <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-3 facebook"
                href="https://m.facebook.com/story.php?story_fbid=pfbid028GbWPxZDEgLgbo8hztEo5bjbgxkwwJ6Yfu39VzqvyrJJoh4LCDy7L2zFVR2Srb5wl&id=103864742313913"
                target="_blank"><i class="socicon-facebook"></i></a>
            <!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-3 instagram"
                href="https://www.instagram.com/stunsky.dt/" target="_blank"><i class="socicon-instagram"></i></a>
        </div>
    </div>
</div>