/* Custom CSS */

#awwwards {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;

	width: 90px;
	height: 135px;

	text-indent: -666em;

	background-image: url(../img/root/awwwards_honorable_white.html);
	background-repeat: no-repeat;
	background-size: 90px 135px;

	overflow: hidden;
}

#wpselected {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	width: 90px;
	height: 90px;

	text-indent: -666em;

	background-image: url(../img/root/wpselected-badge-left.html);
	background-repeat: no-repeat;
	background-size: 90px 90px;

	overflow: hidden;
}

.ptf-custom--9135 .typed-cursor {
	color: #ee3364;
}

.ptf-custom--0531 {
	position: absolute;
	bottom: 15%;
	left: 130px;

	color: #0b0b0b;
	font-size: 35px;
}

.ptf-custom--9503::after {
	content: '';

	position: absolute;
	top: 50%;
	left: calc(100% + 30px);

	width: 0;
	max-width: 60px;
	height: 1px;

	background-color: #1f0e49;

	transition: width .5s 1s ease-in-out;
}

.ptf-is-page-loaded .ptf-custom--9503::after {
	width: 100%;
}

.ptf-custom--5832 {
	position: relative;
	z-index: 1;

	margin-right: 50px;
}

.ptf-custom--5832::after {
	content: '';

	position: absolute;
	top: -50px;
	right: -50px;
	z-index: -1;

	width: 100%;
	height: 100%;

	border: 10px solid #00bec5;
}

.ptf-custom--5832 {
	position: relative;
	z-index: 1;

	margin-right: 50px;
}

.ptf-custom--5832::after {
	content: '';

	position: absolute;
	top: -50px;
	right: -50px;
	z-index: -1;

	width: 100%;
	height: 100%;

	border: 10px solid #00bec5;
}

.ptf-custom--3103 .ptf-services-box__link {
	background-color: rgba(0, 0, 0, .25);
}

.ptf-custom--3103 .ptf-highlight {
	background: linear-gradient(to top, transparent 5%, rgba(0, 0, 0, .25) 5%, rgba(0, 0, 0, .25) 37%, transparent 37%);
}

.ptf-custom--4111 .ptf-swiper-pagination--style-1 span {
	background-color: #fff;
}

.ptf-custom--4111 .ptf-swiper-button-prev--style-2,
.ptf-custom--4111 .ptf-swiper-button-next--style-2 {
	color: #fff;
}

.ptf-custom--6632 {
	margin-top: -225px;
}

.ptf-custom--9917 .ptf-social-icons a:not(:hover) {
	color: #fff;
}

.ptf-custom--8681 .ptf-countdown h5,
.ptf-custom--8681 .ptf-countdown strong {
	color: #fff;
}

.ptf-custom--9511 .ptf-swiper-pagination--style-1 span {
	background-color: #fff;
}

.ptf-is--homepage-05 .ptf-header--default .ptf-navbar,
.ptf-is--homepage-05 .ptf-header--default .ptf-navbar.ptf-navbar--solid {
	background-color: #191919;
}

.ptf-is--homepage-11 .ptf-navbar {
	padding: 0 35px;
}

.ptf-is--homepage-11 .ptf-navbar .container {
	width: 100%;
}

/* min-width 768px */
@media (min-width: 768px) {
	.ptf-custom--5136 {
		padding-left: 70px;
	}

	.ptf-custom--8620 {
		padding-right: 70px !important;
	}

	.ptf-custom--5317 {
		padding: 0 30px !important;
	}

	.ptf-custom--5171 {
		padding-right: 70px;
	}

	.ptf-custom--7205 {
		margin-top: -100px;
	}

	.ptf-custom--8511 {
		padding-right: 85px;
	}

	.ptf-custom--6525 {
		position: relative;
		z-index: 2;
	}
}

/* max-width 767px */
@media (max-width: 767px) {

	#awwwards,
	#wpselected {
		display: none;
	}

	.ptf-custom--9135 h2 {
		font-size: 28px
	}

	.ptf-custom--1631 {
		font-size: 38px;
	}
}

/* max-width 991px */
@media (max-width: 991px) {
	.ptf-custom--9182 {
		font-size: 48px;
		line-height: 60px;
	}

	.ptf-custom--9182 {
		font-size: 48px;
		line-height: 60px;
	}
}

/* max-width 575px */
@media (max-width: 575px) {
	.ptf-custom-9182 {
		font-size: 38px;
		line-height: 50px;
	}

	.ptf-custom-9182 {
		font-size: 38px;
		line-height: 50px;
	}

	.ptf-custom--0531 {
		bottom: 5%;
	}


}


.lnir-menu-alt-5 {
	padding-right: 159px;
}

.has-white-color {
	line-height: 1;
}

.image-size {
	margin-top: 77px;
	width: 75% !important;

}

.carousel-control-next {
	right: 137px !important;
}

.d-block {
	border-radius: 5%;
}

.container-xxl {
	width: 88%;
}

.text-block {
	position: absolute;
	bottom: 20px;
	right: 70px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	padding-left: 20px;
	padding-right: 20px;
}

.space-approach {
	padding-top: 0.75rem !important;
}




/* testimoal */

.card {
	margin: 0 auto;
	border: none;
  }
  .card .carousel-item {
	min-height: 190px;
  }
  .card .carousel-caption {
	padding: 0;
	right: 15px;
	left: 15px;
	top: 15px;
	color: #3d3d3d;
	border: 1px solid #ccc;
	min-height:175px;
	padding: 15px;
  }
  .card .carousel-caption .col-sm-3 {
	display: flex;
	align-items: center;
  }
  .card .carousel-caption .col-sm-9 {
	text-align: left;
  }
  .card .carousel-control-prev, .card .carousel-control-next {
	color: #3d3d3d !important;
	opacity: 1 !important;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
	background-image: none;
	color: #fff;
	font-size: 14px;
	background-color: #cd3a54;
	height: 32px;
	line-height: 32px;
	width: 32px;
  }
  .carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
	opacity: 0.85;
  }
  .carousel-control-prev {
	left: 40%;
	top: 110%;
  }
  .carousel-control-next {
	right: 40%;
	top: 110%;
  }
  .midline {
	width: 60px;
	border-top: 1px solid #d43025;
  }
  .carousel-caption h2 {
	font-size: 14px;
  }
  .carousel-caption h2 span {
	color: #cd3a54;
  }
   @media (min-width: 320px) and (max-width: 575px) {
  .carousel-caption {
	position: relative;
  }
  .card .carousel-caption {
	left: 0;
	top: 0;
	margin-bottom: 15px;
  }
  .card .carousel-caption img {
	margin: 0 auto;
  }
  .carousel-control-prev {
	left: 35%;
	top: 105%;
  }
  .carousel-control-next {
	right: 35%;
	top: 105%;
  }
  .card .carousel-caption h3 {
	margin-top: 0;
	font-size: 16px;
	font-weight: 700;
  }
  }
  @media (min-width: 576px) and (max-width: 767px) {
  .carousel-caption {
	position: relative;
  }
  .card .carousel-caption {
	left: 0;
	top: 0;
	margin-bottom: 15px;
  }
  .card .carousel-caption img {
	margin: 0 auto;
  }
  .card .carousel-caption h3, .card .carousel-caption small {
	text-align: center;
  }
  .carousel-control-prev {
	left: 35%;
	top: 105%;
  }
  .carousel-control-next {
	right: 35%;
	top: 105%;
  }
  }
  @media (min-width: 767px) and (max-width: 991px) {
  .card .carousel-caption h3 {
	margin-top: 0;
	font-size: 16px;
	font-weight: 700;
  }
  }



  ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
  z-index: 0;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}



.carousel-control-prev{
	left: 64px !important;
}

.atag{
	color: black !important;
}
.ptf-social-icon{
	color: black !important;
}

