/* Custom CSS */

#awwwards {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;

	width: 90px;
	height: 135px;

	text-indent: -666em;

	background-image: url(../img/root/awwwards_honorable_white.html);
	background-repeat: no-repeat;
	background-size: 90px 135px;

	overflow: hidden;
}

#wpselected {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	width: 90px;
	height: 90px;

	text-indent: -666em;

	background-image: url(../img/root/wpselected-badge-left.html);
	background-repeat: no-repeat;
	background-size: 90px 90px;

	overflow: hidden;
}

.ptf-custom--9135 .typed-cursor {
	color: #ee3364;
}

.ptf-custom--0531 {
	position: absolute;
	bottom: 15%;
	left: 130px;

	color: #0b0b0b;
	font-size: 35px;
}

.ptf-custom--9503::after {
	content: '';

	position: absolute;
	top: 50%;
	left: calc(100% + 30px);

	width: 0;
	max-width: 60px;
	height: 1px;

	background-color: #1f0e49;

	transition: width .5s 1s ease-in-out;
}

.ptf-is-page-loaded .ptf-custom--9503::after {
	width: 100%;
}

.ptf-custom--5832 {
	position: relative;
	z-index: 1;

	margin-right: 50px;
}

.ptf-custom--5832::after {
	content: '';

	position: absolute;
	top: -50px;
	right: -50px;
	z-index: -1;

	width: 100%;
	height: 100%;

	border: 10px solid #00bec5;
}

.ptf-custom--5832 {
	position: relative;
	z-index: 1;

	margin-right: 50px;
}

.ptf-custom--5832::after {
	content: '';

	position: absolute;
	top: -50px;
	right: -50px;
	z-index: -1;

	width: 100%;
	height: 100%;

	border: 10px solid #00bec5;
}

.ptf-custom--3103 .ptf-services-box__link {
	background-color: rgba(0, 0, 0, .25);
}

.ptf-custom--3103 .ptf-highlight {
	background: linear-gradient(to top, transparent 5%, rgba(0, 0, 0, .25) 5%, rgba(0, 0, 0, .25) 37%, transparent 37%);
}

.ptf-custom--4111 .ptf-swiper-pagination--style-1 span {
	background-color: #fff;
}

.ptf-custom--4111 .ptf-swiper-button-prev--style-2,
.ptf-custom--4111 .ptf-swiper-button-next--style-2 {
	color: #fff;
}

.ptf-custom--6632 {
	margin-top: -225px;
}

.ptf-custom--9917 .ptf-social-icons a:not(:hover) {
	color: #fff;
}

.ptf-custom--8681 .ptf-countdown h5,
.ptf-custom--8681 .ptf-countdown strong {
	color: #fff;
}

.ptf-custom--9511 .ptf-swiper-pagination--style-1 span {
	background-color: #fff;
}

.ptf-is--homepage-05 .ptf-header--default .ptf-navbar,
.ptf-is--homepage-05 .ptf-header--default .ptf-navbar.ptf-navbar--solid {
	background-color: #191919;
}

.ptf-is--homepage-11 .ptf-navbar {
	padding: 0 35px;
}

.ptf-is--homepage-11 .ptf-navbar .container {
	width: 100%;
}

/* min-width 768px */
@media (min-width: 768px) {
	.phone-email{
		font-size: 18px;
	}
	.other{
		height: 365px !important;
	}
	.footersm{
		display: none;
	}
	.bannericon{
		padding-left:7px;
		font-size: 16px;
		padding-right: 5px;
		font-weight: 800;
	}

	/* .banner {
		background-image: url(../img/service-detail.jpg);
		background-repeat: no-repeat;
		background-position: calc(5vw - 121px) calc(59% + 132px);
		height: 622px;
	} */

	.ptf-btn.ptf-btn--primary {
		color: var(--ptf-color-white);
		background-color: var(--ptf-color-black);
		font-size: 1.5rem;
		padding: 1.07rem 9px;
		margin: 0px 0px 10px;
		border-radius: 4.25px;
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
	}
	.ptf-custom--5136 {
		padding-left: 70px;
	}

	.ptf-custom--8620 {
		padding-right: 70px !important;
	}

	.ptf-custom--5317 {
		padding: 0 30px !important;
	}

	.ptf-custom--5171 {
		padding-right: 70px;
	}

	.ptf-custom--7205 {
		margin-top: -100px;
	}

	.ptf-custom--8511 {
		padding-right: 85px;
	}

	.ptf-custom--6525 {
		position: relative;
		z-index: 2;
	}

	/* .ptf-approach-box{
		padding-bottom: 6px
	} */
	/* .space-approach {
		padding-top: 0.75rem !important;
		padding-bottom: 6px;
	} */

	/* .parabox {
		padding-right: 12px;
	} */

	.parabox {
		font-weight: 600;
		font-size: 22px
		/* padding-right: 16px !important;
		padding-left: 14px !important; */
	}

	.parabox {
		font-weight: 600;
		font-size: 22px
		/* padding-right: 16px !important;
		padding-left: 14px !important; */
	}

	.carousel .carousel-indicators {
		bottom: -51px !important;
	}

	.partnertitle {
		font-size: 1.5rem !important;

	}

	.partnertitleimage {
		width: 3% !important;
		padding-bottom: 3px !important;
	}

	.partneh1 {
		font-size: 40px !important;
	}

	.carousel-inner {
		width: 100% !important;
	}

	.carousel {
		margin: 50px auto;
		padding: 0 70px;
	}

	.carousel-control-prev {
		left: 64px !important;
	}

	.image-size {
		margin-top: 49px;
		width: 78% !important;
		height: 436px;

	}

	.carousel-control-next {
		right: 155px!important;
	}

	.bannerli {
		padding-right: 18px;
    	font-size: 15px;
	}

	.bannerli1 {
		padding-left: 0px;
		font-size: 15px;
	}

	.subscribe-form button {
		position: absolute;
		right: 0;
		background: #ff5e14;
		padding: 13px 20px;
		border: 1px solid #ff5e14;
		top: 0;
	}

	.black {
		width: 33%;
	}

	.ptf-navbar-logo {
		width: 549px;
		padding-bottom: 32px;
	}

	.blogtitle {
		color: black !important;
		font-weight: 200px !important;
	}

	.text-block {
		position: absolute;
		bottom: 20px;
		right: 70px;
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		padding-left: 20px;
		padding-right: 20px;
	}

	.footer-text p {
		margin-bottom: 14px;
		font-size: 14px;
		color: #7e7e7e;
		line-height: 28px;
	}

	.footer-social-icon span {
		color: #fff;
		display: block;
		font-size: 20px;
		font-weight: 700;
		font-family: 'Poppins', sans-serif;
		margin-bottom: 20px;
	}

	.bannersub {
		width: 3%;
	}

	.cta-text h4 {
		color: #fff;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 2px;
	}

	.cta-text span {
		color: #757575;
		font-size: 15px;
	}

	.single-cta i {
		color: #ff5e14;
		font-size: 30px;
		float: left;
		margin-top: 8px;
	}

	.footerh3 {
		color: white !important;
		font-size: 1.75rem !important;
	}

	.icontop {
		font-size: 68px !important;

	}

	.icontop1 {
		font-size: 68px !important;
		padding-left: 24px;
	}

	.projectimg {
		border-radius: 1.25rem !important;
		width: 100% !important;
	}

	menu button {
		transition: all 450ms cubic-bezier(.4, .25, .3, 1.3);
		width: 110px;
		height: 110px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		color: #000000;
		border: 1px solid #fe6b01;
		border-radius: 50%;
		cursor: pointer;
		overflow: hidden;
	}

	.ptf-nav--offcanvas .sf-menu>li>a,
	.ptf-nav--slide .sf-menu>li>a {
		color: black !important;
	}

	.ptf-nav--offcanvas .sf-menu ul.sub-menu a,
	.ptf-nav--slide .sf-menu ul.sub-menu a {
		color: hsl(0deg 0% 10%) !important;
	}

	.ptf-offcanvas-menu__header .ptf-offcanvas-menu-icon {
		color: black !important;
	}

	.ptf-nav--default .sf-menu>li>a {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;
	}

	.fz-18 {
		font-size: 1.5rem;
	}

	.ptf-service-box__content p {
		font-size: 1.5rem;
	}

	.ptf-approach-box__content {
		font-size: 1.5rem;
	}

	.testip {
		font-size: 1.5rem;
	}

	.h1title {
		font-size: 3rem;
	}

	.fz-21 {
		font-size: 2rem;
	}

	.ptf-news-slide__excerpt p {
		font-size: 1.5rem;
	}

	.ptf-post__meta span {
		font-size: 1rem;
	}

	.ptf-post__title a {
		font-size: 2rem;
	}

	.ptf-filters--style-1 {
		font-size: 1.8rem;
		font-weight: 700;
	}

	.ptf-work__category {
		font-size: 1.5rem !important;
		/* font-weight: 700; */
	}

	.ptf-work__title a {
		font-size: 2.4rem !important;
		font-weight: 700;
		color: black !important;
	}

	.container-new {
		width: 95% !important;
	}

	.fontabout {
		font-size: 1.5rem;
	}

	.stunsky {
		font-size: 4rem;
	}

	.bannerdigital p {
		font-size: 4.375rem !important;
	}

	.media {
		border: 2px solid orange;
		border-radius: 9px;
		padding: 19px;
		margin-bottom: 20px;
	}

	.carousel-indicators li {
		width: 6px !important;
		height: 6px !important;
	}
	.ptf-pricing-table__content ul li {
		font-size: 3rem;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		flex-direction: row;
		padding-bottom: .875rem;
		-webkit-transition: all var(--ptf-transition-duration) var(--ptf-transition-easing);
		transition: all var(--ptf-transition-duration) var(--ptf-transition-easing);
		text-transform: uppercase;
		color: var(--ptf-color-black);
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row
	}
	.whoserver{
		font-size: 1rem !important;
	}
	.ptf-work__media {
		position: relative;
		overflow: hidden
	}
	
	.ptf-work__media img {
		width: 83%;
		-webkit-transition: -webkit-transform calc(var(--ptf-transition-duration) * 3) var(--ptf-transition-easing), -webkit-filter var(--ptf-transition-duration) var(--ptf-transition-easing);
		transition: -webkit-transform calc(var(--ptf-transition-duration) * 3) var(--ptf-transition-easing), -webkit-filter var(--ptf-transition-duration) var(--ptf-transition-easing);
		transition: transform calc(var(--ptf-transition-duration) * 3) var(--ptf-transition-easing), filter var(--ptf-transition-duration) var(--ptf-transition-easing);
		transition: transform calc(var(--ptf-transition-duration) * 3) var(--ptf-transition-easing), filter var(--ptf-transition-duration) var(--ptf-transition-easing), -webkit-transform calc(var(--ptf-transition-duration) * 3) var(--ptf-transition-easing), -webkit-filter var(--ptf-transition-duration) var(--ptf-transition-easing);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		will-change: transform
	}
	
	.ptf-work:hover .ptf-work__media img {
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05)
	}
	.yellowimg{
		background-image: url(/static/img/service-detail.jpg);
		/* background-repeat: no-repeat; */
		height: 440px;

	}

}


@media (max-width: 1024px) {
	.black {
		width: 260%;
	}
	.icontop1 {
		font-size: 58px !important;
		padding-left: 6px;
	}

}

@media (min-width: 1024px) and (max-width: 1439px) {

	.carousel-control-next{
		right: 139px !important;
		top: -134px !important;
	}
	.carousel-control-prev{
		left: 58px !important;
		top: -134px !important;

	}
}

/* max-width 767px */
@media (max-width: 767px) {

	#awwwards,
	#wpselected {
		display: none;
	}

	.ptf-custom--9135 h2 {
		font-size: 28px
	}

	.ptf-custom--1631 {
		font-size: 38px;
	}

	.subscribe-form button {
		position: absolute;
		right: 0;
		background: #ff5e14;
		padding: 13px 20px;
		border: 1px solid #ff5e14;
		top: 0;
	}

	.black {
		width: 36%;
	}


}

/* max-width 991px */
@media (max-width: 991px) {
	.ptf-custom--9182 {
		font-size: 48px;
		line-height: 60px;
	}

	.ptf-custom--9182 {
		font-size: 48px;
		line-height: 60px;
	}

	/* .parabox {
		padding-right: 8px;
	} */

	/* .parabox1 {
		padding-right: 101px;
		padding-left: 26px;
	} */

	

	.ptf-service-box {
		grid-template-columns: -1fr !important;
	}

	.carousel .media img {
		width: 40px !important;
		height: 40px !important;
	}

	.carousel .testimonial {
		padding: 0 1px 0 0px !important;
	}

	.carousel .testimonial::before {
		left: 200px !important;
	}

	.carousel .carousel-indicators {
		bottom: -61px !important;
	}

	.partneh1 {
		font-size: 26px;
	}

	.partnertitle {
		font-size: 1.5rem !important;

	}

	.partnertitleimage {
		width: 3% !important;
		padding-bottom: 3px !important;
	}

	.black {
		width: 18%;
	}


}

/* max-width 575px */
@media (max-width: 575px) {
	.other{
		height: 291px !important;
	}
	.arrowabout{
		display: none;
	}
	.bannericon{
		display: none;
	}
	/* .banner {
		background-image: url(../img/service-detail.jpg);
		background-repeat: no-repeat;
		background-position: calc(5vw - 121px) calc(59% + 132px);
		height: 531px;
	} */
	.ptf-custom-9182 {
		font-size: 38px;
		line-height: 50px;
	}

	.ptf-custom-9182 {
		font-size: 38px;
		line-height: 50px;
	}

	.ptf-custom--0531 {
		bottom: 5%;
	}

	.carousel-inner {

		width: 144% !important;
	}

	.testimonialcaurosal {
		width: 100% !important;
	}

	.carousel {
		margin: 11px auto !important;
		padding: 0 0px !important;
	}

	.carousel-control-prev {
		left: 9px !important;
	}

	.carousel-control-next {
		right: -13px !important;
	}

	.image-size {
		margin-top: 77px;
		width: 80% !important;

	}

	.ptf-btn.ptf-btn--primary {
		color: var(--ptf-color-white);
		background-color: var(--ptf-color-black);
		font-size: 0.8rem;
		padding: 1.07rem 9px;
		margin: 0px 0px 10px;
		border-radius: 4.25px;
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
	}

	/* .ptf-btn {
		font-size: 0.85rem;
		padding: 1.07rem 9px;
		border-radius: 9.25px;box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)

	} */

	.fz-24 {
		font-size: 1.125rem;
	}

	.fz-40--md {
		font-size: 2.4rem;
	}

	.bannerdigital h2 {
		font-size: 1.4rem;
	}

	.bannerli {
		padding-right: 35px;
	}

	.bannerli1 {
		margin-left: 1px;
	}


	.topheadingh3 {
		font-size: 1.4rem !important;
	}

	.h1title {
		font-size: 2rem;
	}

	.ptf-service-box__title {
		font-size: 1.2rem;
	}

	.parabox {
		font-weight: 600;
		font-size: 15px
		/* padding-right: 16px !important;
		padding-left: 14px !important; */
	}
	.black {
		width: 38%;
	}

	.bannersub {
		width: 5%;
	}

	.text-block {
		position: absolute;
		bottom: 10px !important;
		right: 21px !important;
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		padding-left: 8px;
		padding-right: 8px;
	}

	.large-heading {
		font-size: 2rem !important;
	}

	.carousel .testimonial::before {
		left: -31px !important;
	}

	.carousel .testimonial {
		padding: 0 1px 25px 0px !important;
	}

	.testip {
		margin-bottom: 0.5rem;
	}

	.footerh3 {
		color: white !important;
		font-size: 1.75rem !important;
	}

	.footer-text p {
		font-size: 10px;
		color: #7e7e7e;
		line-height: 21px;
	}

	.footer-social-icon span {
		color: #fff;
		display: block;
		font-size: 20px;
		font-weight: 700;
		font-family: 'Poppins', sans-serif;
		margin-bottom: 6px;
		margin-top: 6px;

	}

	.cta-text h4 {
		color: #fff;
		font-size: 15px;
		font-weight: 600;
		margin-bottom: 2px;
	}

	.cta-text span {
		color: #757575;
		font-size: 11px !important;
	}


	.single-cta i {
		color: #ff5e14;
		font-size: 25px !important;
		float: left;
		margin-top: 8px;
	}

	menu button {
		transition: all 450ms cubic-bezier(.4, .25, .3, 1.3);
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		color: #000000;
		border: 1px solid #fe6b01;
		border-radius: 50%;
		cursor: pointer;
		overflow: hidden;
	}

	.projectimg {
		border-radius: 1.25rem !important;
		width: 100% !important;
	}

	.blogtitle {
		color: black !important;
		font-weight: 200px !important;
		width: 5.125rem;
		height: 5.125rem;
		font-size: 1.25rem !important;
	}

	.ptf-nav--offcanvas .sf-menu>li>a,
	.ptf-nav--slide .sf-menu>li>a {
		color: black !important;
	}

	.ptf-nav--offcanvas .sf-menu ul.sub-menu a,
	.ptf-nav--slide .sf-menu ul.sub-menu a {
		color: hsl(0deg 0% 10%) !important;
	}

	.ptf-offcanvas-menu__header .ptf-offcanvas-menu-icon {
		color: black !important;
	}

	.fontabout {
		font-size: 1rem;
	}

	.stunsky {
		font-size: 4rem;
	}

	.ptf-mask-image img {
		width: 100% !important;
	}

	.ptf-team-member__function {
		font-size: 1rem !important;
	}

	.media {
		border: 2px solid orange;
		border-radius: 9px;
		padding: 5px;
		margin-bottom: 20px;
	}

	.carousel-indicators li {
		width: 6px !important;
		height: 6px !important;
	}
	.ptf-pricing-table__content ul li {
		font-size: 2rem;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		flex-direction: row;
		padding-bottom: .875rem;
		-webkit-transition: all var(--ptf-transition-duration) var(--ptf-transition-easing);
		transition: all var(--ptf-transition-duration) var(--ptf-transition-easing);
		text-transform: uppercase;
		color: var(--ptf-color-black);
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row
	}
	.whoserver{
		font-size: 1rem !important;
	}
	.icontop1 {
		font-size: 49px !important;
		padding-left: 11px;
	}
	.ptf-work__media {
		position: relative;
		overflow: hidden
	}
	
	.ptf-work__media img {
		width: 83%;
		-webkit-transition: -webkit-transform calc(var(--ptf-transition-duration) * 3) var(--ptf-transition-easing), -webkit-filter var(--ptf-transition-duration) var(--ptf-transition-easing);
		transition: -webkit-transform calc(var(--ptf-transition-duration) * 3) var(--ptf-transition-easing), -webkit-filter var(--ptf-transition-duration) var(--ptf-transition-easing);
		transition: transform calc(var(--ptf-transition-duration) * 3) var(--ptf-transition-easing), filter var(--ptf-transition-duration) var(--ptf-transition-easing);
		transition: transform calc(var(--ptf-transition-duration) * 3) var(--ptf-transition-easing), filter var(--ptf-transition-duration) var(--ptf-transition-easing), -webkit-transform calc(var(--ptf-transition-duration) * 3) var(--ptf-transition-easing), -webkit-filter var(--ptf-transition-duration) var(--ptf-transition-easing);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		will-change: transform
	}
	
	.ptf-work:hover .ptf-work__media img {
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05)
	}
	.h6inservice{
		display: none;
	}

	.yellowimg{
		background-image: url(/static/img/service-detail.jpg);
		background-repeat: no-repeat;
	}

	.footer-cta {
		display: none;
		
	}
	.footericon{
		display: none;
	}
	.slideblog{
		display: none;
	}
	
	

}


@media (max-width: 320px) {
	.image-size {
		margin-top: 77px;
		width: 82% !important;
	}

	.carousel-control-next {
		right: -15px !important;
	}

	.carousel-control-prev {
		left: 5px !important;
	}

	h2 b {
		font-size: 1rem;
	}

	.fz-40--md {
		font-size: 2rem;
	}

	.fz-24 {
		font-size: 1rem;
	}

	.ptf-btn {
		padding: 1rem 8.000001px;
		margin: 0px 0px 9px 0px;
	}

	.bannerli {
		padding-right: 58px;
	}

	.subscribe-form button {
		padding: 6px 5px;
	}

	.black {
		width: 46%;
	}

	.media {
		border: 2px solid orange;
		border-radius: 9px;
		padding: 5px;
		margin-bottom: 20px;
	}

	.carousel-indicators li {
		width: 6px !important;
		height: 6px !important;
	}
}


/* .lnir-menu-alt-5 {
	padding-right: 159px;
} */

.has-white-color {
	line-height: 1;
}




.d-block {
	border-radius: 5%;
}

.container-xxl {
	width: 81%;
}



/* .space-approach {
	padding-top: 0.75rem !important;
} */




/* testimoal */

.card {
	margin: 0 auto;
	border: none;
}

.card .carousel-item {
	min-height: 190px;
}

.card .carousel-caption {
	padding: 0;
	right: 15px;
	left: 15px;
	top: 15px;
	color: #3d3d3d;
	border: 1px solid #ccc;
	min-height: 175px;
	padding: 15px;
}

.card .carousel-caption .col-sm-3 {
	display: flex;
	align-items: center;
}

.card .carousel-caption .col-sm-9 {
	text-align: left;
}

.card .carousel-control-prev,
.card .carousel-control-next {
	color: #3d3d3d !important;
	opacity: 1 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-image: none;
	color: #fff;
	font-size: 14px;
	background-color: #cd3a54;
	height: 32px;
	line-height: 32px;
	width: 32px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
	opacity: 0.85;
}

.carousel-control-prev {
	left: 40%;
	top: 110%;
}

.carousel-control-next {
	right: 40%;
	top: 110%;
}

.midline {
	width: 60px;
	border-top: 1px solid #d43025;
}

.carousel-caption h2 {
	font-size: 14px;
}

.carousel-caption h2 span {
	color: #cd3a54;
}

@media (min-width: 320px) and (max-width: 575px) {
	.carousel-caption {
		position: relative;
	}

	.card .carousel-caption {
		left: 0;
		top: 0;
		margin-bottom: 15px;
	}

	.card .carousel-caption img {
		margin: 0 auto;
	}

	.carousel-control-prev {
		left: 35%;
		top: 105%;
	}

	.carousel-control-next {
		right: 35%;
		top: 105%;
	}

	.card .carousel-caption h3 {
		margin-top: 0;
		font-size: 16px;
		font-weight: 700;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.carousel-caption {
		position: relative;
	}

	.card .carousel-caption {
		left: 0;
		top: 0;
		margin-bottom: 15px;
	}

	.card .carousel-caption img {
		margin: 0 auto;
	}

	.card .carousel-caption h3,
	.card .carousel-caption small {
		text-align: center;
	}

	.carousel-control-prev {
		left: 35%;
		top: 105%;
	}

	.carousel-control-next {
		right: 35%;
		top: 105%;
	}
}

@media (min-width: 767px) and (max-width: 991px) {
	.card .carousel-caption h3 {
		margin-top: 0;
		font-size: 16px;
		font-weight: 700;
	}
}



ul {
	margin: 0px;
	padding: 0px;
}

.footer-section {
	background: #151414;
	position: relative;
	z-index: 0;
}

.footer-cta {
	border-bottom: 1px solid #373636;
}

.single-cta i {
	color: #ff5e14;
	font-size: 30px;
	float: left;
	margin-top: 8px;
}

.cta-text {
	padding-left: 15px;
	display: inline-block;
}

.cta-text span {
	color: #757575;
	font-size: 15px;
}

.footer-content {
	position: relative;
	z-index: 2;
}

.footer-pattern img {
	position: absolute;
	top: 0;
	left: 0;
	height: 330px;
	background-size: cover;
	background-position: 100% 100%;
}

.footer-logo {
	margin-bottom: 30px;
}

.footer-logo img {
	max-width: 200px;
}


.footer-social-icon a {
	color: #fff;
	font-size: 16px;
	margin-right: 15px;
}

.footer-social-icon i {
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
}

.facebook-bg {
	background: #3B5998;
}

.twitter-bg {
	background: #55ACEE;
}

.google-bg {
	background: #DD4B39;
}

.footer-widget-heading h3 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 40px;
	margin-top: 20px;
	position: relative;
}

.footer-widget-heading h3::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -15px;
	height: 2px;
	width: 50px;
	background: #ff5e14;
}

.footer-widget ul li {
	display: inline-block;
	float: left;
	width: 50%;
	margin-bottom: 12px;
}

.footer-widget ul li a:hover {
	color: #ff5e14;
}

.footer-widget ul li a {
	color: #878787;
	text-transform: capitalize;
}

.subscribe-form {
	position: relative;
	overflow: hidden;
}

.subscribe-form input {
	width: 100%;
	padding: 14px 28px;
	background: #2E2E2E;
	border: 1px solid #2E2E2E;
	color: #fff;
}

.subscribe-form button i {
	color: #fff;
	font-size: 22px;
	transform: rotate(-6deg);
}

.copyright-area {
	background: #202020;
	padding: 25px 0;
}

.copyright-text p {
	margin: 0;
	font-size: 14px;
	color: #878787;
}

.copyright-text p a {
	color: #ff5e14;
}

.footer-menu li {
	display: inline-block;
	margin-left: 20px;
}

.footer-menu li:hover a {
	color: #ff5e14;
}

.footer-menu li a {
	font-size: 14px;
	color: #878787;
}




.atag {
	color: black !important;
}

.ptf-social-icon {
	color: black !important;
}


menu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

menu li {
	width: 170px;
	height: 60px;
}



menu button span {
	transition: all 400ms cubic-bezier(.4, .25, .3, 1.3) 100ms;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 1.5rem;
	font-weight: 900;
	line-height: 60px;
	vertical-align: middle;
}

menu button span:first-of-type {
	font-size: 2.5rem;
	transform: translate(-50%, -50%);
}

menu button span:last-of-type {
	transform: translate(-50%, 50%);
	text-transform: uppercase;
}


.collapse {
	cursor: pointer;
	display: block;
	background: #cdf;
}

.collapse+input {
	display: none;
	/* hide the checkboxes */
}

.collapse+input+div {
	display: none;
}

.collapse+input:checked+div {
	display: block;
}

.bannerimage{
	border-radius: 11px;
}

.orangebutton{
	/* background-image: linear-gradient(to right, red , yellow) */
	background-image: linear-gradient(to right, #ffa500, #ff6b02);
}

