{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<main class="ptf-main">
	<article class="ptf-page ptf-page--about-us ptf-page--home-modern">
		<section>
			<div class="container-xxl">
				<!--Divider-->
				<div class="ptf-divider" style="--ptf-color: var(--ptf-color-14); --ptf-height: 1px;">
				</div>
			</div>
		</section>
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 13rem; --ptf-md: 5rem; --ptf-sm: 14rem;">
			</div>
			<div class="container-xxl">
				<div class="row align-items-center">
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h1 class="fz-70 fz-40--md fw-extrabold lh-1p1 has-black-color">About Us</h1>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 2.5rem; --ptf-md: 1.25rem;--ptf-sm: 0.25rem;">
						</div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 4.375rem; --ptf-md: 2.1875rem;--ptf-sm: 0.1875rem;">
						</div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
							<p class="fz-18" style="max-width: 100%;">We’re from Poland, we passioned
								with the
								space & create the values sustainable over time.Lorem Ipsum is simply
								dummy text of the
								printing and typesetting industry.We’re from Poland, we passioned with
								the
								space & create the values sustainable over time.Lorem Ipsum is simply
								dummy text of the
								printing and typesetting industry.We’re from Poland, we passioned with
								the
								space & create the values sustainable over time.Lorem Ipsum is simply
								dummy text of the
								printing and typesetting industry.
							</p>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;">
						</div>
						<div class="fz-90 has-black-color arrowabout">
							<!--Animated Block-->
							<div class="ptf-animated-block" data-aos="fade" data-aos-delay="300">
								<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="height:1em"
									viewBox="0 0 17 17">
									<path d="M16 .997V10h-1V2.703L4.683 13l-.707-.708L14.291
										1.997H6.975v-1H16z" />
								</svg>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xl: 5.625rem; --ptf-md:0.625rem;
								--ptf-sm:0rem"></div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="400">
							<div class="text-center">
								<!--Mask Image-->
								<div class="ptf-mask-image ">
									<img src=" {% static 'img/about-us-main-image.jpg' %} " alt="" loading="lazy" style="--ptf-mask-image: url({% static 'img/about-us-main-image.jpg' %});">
									<img class="aboutimg" src=" {% static 'img/root/about-us/about-us-main-image-layer-1.png' %} " alt="" loading="lazy">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
		</section>
		<section>
			<div class="container-xxl">
				<!--Divider-->
				<div class="ptf-divider" style="--ptf-color: var(--ptf-color-14); --ptf-height: 1px;">
				</div>
			</div>
		</section>
		<section>

		</section>
		<section>
			<div class="container-xxl">
				<!--Divider-->
				<div class="ptf-divider">
				</div>
			</div>
		</section>
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-lg-6">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h1 class="h1title">
								<b>Our Mission</b>
							</h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1.5rem;">
							</div>
							<p class="fz-18">
								We help ambitious businesses like yours generate more
								profits by
								building awareness, driving web traffic, connecting with customers and
								growing
								overall sales.
							</p>
						</div>

						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-lg: 4.375rem; --ptf-md: 2.1875rem;">
						</div>
					</div>
					<div class="col-lg-6">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">

							<h1 class="h1title">
								<b> Our Vission</b>
							</h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1.5rem;">
							</div>
							<p class="fz-18">
								We help ambitious businesses like yours generate more
								profits by
								building awareness, driving web traffic, connecting with customers and
								growing
								overall sales.
							</p>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-lg: 4.375rem; --ptf-md: 2.1875rem;">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl:9rem; --ptf-md: 5rem; --ptf-md: 2rem;">
			</div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-lg-5">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h3 class="topheadingh3">
								<img class="bannersub" src="../static/img/adsa.png" alt="">What We Do
							</h3>
							<h1 class="h1title">
								<b>Explore Creative And
									Digital Solutions
									For Business
								</b>
							</h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1.5rem;">
							</div>
							<p class="fz-18">
								We help ambitious businesses like yours generate more
								profits by
								building awareness, driving web traffic, connecting with customers and
								growing
								overall sales.
							</p>
						</div>

						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-lg: 4.375rem; --ptf-md: 2.1875rem;">
						</div>
					</div>
					<div class="col-lg-6 offset-lg-1">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box ">
								<a class="ptf-service-box__link" href="{% url 'Graphic Design' %}">
								</a>
								<div class="ptf-service-box__icon">
									<i class="lnil lnil-cup"></i>
								</div>
								<h5 class="ptf-service-box__title">Graphics <br>Design
								</h5>
								<div class="ptf-service-box__content">
									<p>
										We build and activate brands throung cultural insight &amp;
										strategic vision.
									</p>
								</div>
								<div class="ptf-service-box__arrow">
									<i class="lnil lnil-chevron-right"></i>
								</div>
							</div>
						</div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box ">
								<a class="ptf-service-box__link" href="{% url 'UI UX' %}">
								</a>
								<div class="ptf-service-box__icon">
									<i class="lnil lnil-website-rank"></i>
								</div>
								<h5 class="ptf-service-box__title">UI/UX <br>Solution
								</h5>
								<div class="ptf-service-box__content">
									<p>
										We build and activate brands throung cultural insight &amp;
										strategic vision.
									</p>
								</div>
								<div class="ptf-service-box__arrow">
									<i class="lnil lnil-chevron-right"></i>
								</div>
							</div>
						</div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box ">
								<a class="ptf-service-box__link" href="{% url 'Package Design' %}">
								</a>
								<div class="ptf-service-box__icon">
									<i class="lnil lnil-3d"></i>
								</div>
								<h5 class="ptf-service-box__title">Packaging
								</h5>
								<div class="ptf-service-box__content">
									<p>
										We build and activate brands throung cultural insight &amp;
										strategic vision.
									</p>
								</div>
								<div class="ptf-service-box__arrow">
									<i class="lnil lnil-chevron-right"></i>
								</div>
							</div>
						</div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box ">
								<a class="ptf-service-box__link" href="{% url 'Web Development' %}">
								</a>
								<div class="ptf-service-box__icon">
									<i class="lnil lnil-video-camera-alt-1"></i>
								</div>
								<h5 class="ptf-service-box__title">Web <br>Development
								</h5>
								<div class="ptf-service-box__content">
									<p>
										We build and activate brands throung cultural insight &amp;
										strategic vision.
									</p>
								</div>
								<div class="ptf-service-box__arrow">
									<i class="lnil lnil-chevron-right"></i>
								</div>
							</div>
						</div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box "><a class="ptf-service-box__link" href="{% url 'other offerings' %}"></a>
								<div class="ptf-service-box__icon">
									<i class="lnil lnil-video-camera-alt-1"></i>
								</div>
								<h5 class="ptf-service-box__title">Other <br>Offerings
								</h5>
								<div class="ptf-service-box__content">
									<p>We build and activate brands throung cultural insight &amp;
										strategic vision.
									</p>
								</div>
								<div class="ptf-service-box__arrow">
									<i class="lnil lnil-chevron-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Partner logo section -->
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos-delay="0">
							<h3 class="topheadingh3">
								<img src="../static/img/adsa.png" alt="" class="bannersub">Partners & Clients
							</h3>
							<h1 class="h1title">
								<b>Partnered with 180+ brands from 15+ countries</b>
							</h1>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 3.5rem; --ptf-md: 3.75rem; --ptf-sm: 0rem;">
						</div>
					</div>
				</div>
				<div class="row" style="--bs-gutter-y: 0rem;">
					{% for cilent in client %}
					<div class="col-3 col-md-3 col-lg-2 col-sm-3">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos-delay="0">
							<!--Partner Box-->
							<div class="ptf-partner-box" style="--ptf-hover-background: #fcf8f4; --ptf-image-height: 40px;">
								<div class="ptf-partner-box__image">
									<img src=" {{cilent.image.url}} " alt="{{cilent.name}}" loading="lazy">
								</div>
								<!-- <h6 class="ptf-partner-box__title">{{cilent.name}} -->
								<!-- </h6> -->
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
		</section>
		<!-- Partner logo section end -->
		<section class="jarallax"><img class="jarallax-img" src=" {% static 'img/about-us-testimonial-background.png' %}" alt="" loading="lazy">
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 12.5rem; --ptf-md: 6.25rem;">
			</div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-4">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<img src=" {% static 'img/root/quote.png' %}" alt="" loading="lazy">
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xl: 3.75rem;">
						</div>
					</div>
					<div class="col-xl-8">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Testimonial-->
							<div class="ptf-testimonial ptf-testimonial--style-2" style="--ptf-text-align: left; --ptf-content-color:
									var(--ptf-color-white); --ptf-author-color: var(--ptf-color-white);
									--ptf-info-color: var(--ptf-color-white);">
								<div class="ptf-testimonial__content">
									<p>“I don’t know what else to say, this is something that you haven’t
										seen before.
										Unique design, lightweight, and outstanding support!”</p>
								</div>
								<div class="ptf-testimonial__meta">
									<h6 class="ptf-testimonial__author">
										Pavel. S
									</h6>
									<div class="ptf-testimonial__info">CEO at Liarch Studio
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 12.5rem; --ptf-md: 6.25rem;">
			</div>
		</section>
		<section class="ptf-custom--1569">
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 4.375rem; --ptf-sm: 2rem;">
			</div>
			<div class="container">
				<!--Animated Block-->
				<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
					<h1 class="h1title">
						<b>Our Crew</b>
					</h1>
				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 5.625rem; --ptf-md: 2.8125rem;">
				</div>
			</div>
			<div class="container">
				<div class="ptf-team-member-grid ptf-team-member-grid--3-columns">
					{% for team_members in team%}
					<!--Animated Block-->
					<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
						<!--Team Member-->
						<div class="ptf-team-member ptf-team-member--has-effect">
							<div class="ptf-team-member__avatar">
								<div class="shadow-effect">
								</div>
								<a href="{{team_members.image.url}}">
									<img src=" {{team_members.image.crop.247x247}} " alt="" loading="lazy">
								</a>
							</div>
							<div class="ptf-team-member__content">
								<h6 class="ptf-team-member__name">{{team_members.name}}
								</h6>
								<p class="ptf-team-member__function">{{team_members.designation}}
								</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
		</section>
	</article>
</main>

{% endblock %}