{% extends 'partials/base.html' %}
{% load static %}
{% block content %}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<main class="ptf-main">
	<article class="ptf-page ptf-page--about-us ptf-page--home-modern">



		<section>
			<div class="container-xxl">
				<!--Divider-->
				<div class="ptf-divider" style="--ptf-color: var(--ptf-color-14); --ptf-height: 1px;"></div>
			</div>
		</section>
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 16.25rem; --ptf-md: 3.125rem; --ptf-sm: 18.125rem;"></div>
			<div class="container-xxl">
				<div class="row align-items-center">
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<p class="fz-16 text-uppercase fontabout" >About Us</p>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 2.5rem; --ptf-md: 1.25rem;"></div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
							<h1 class="large-heading text-uppercase fw-semibold stunsky"
								style="letter-spacing: -.05em;">Stunsky</h1>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 4.375rem; --ptf-md: 2.1875rem;"></div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
							<p class="fz-18" style="max-width: 27.8125rem;">We’re from Poland, we passioned with the
								space & create the values sustainable over time.</p>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
						<div class="fz-90 has-black-color">
							<!--Animated Block-->
							<div class="ptf-animated-block" data-aos="fade" data-aos-delay="300"><svg
									xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="height:1em"
									viewBox="0 0 17 17">
									<path d="M16 .997V10h-1V2.703L4.683 13l-.707-.708L14.291 1.997H6.975v-1H16z" />
								</svg>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xl: 5.625rem; --ptf-md:0.625rem; --ptf-sm:0rem"></div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="400">
							<div class="text-center">
								<!--Mask Image-->
								<div class="ptf-mask-image "><img src=" {% static 'img/about-us-main-image.jpg' %} "
										alt="" loading="lazy"
										style="--ptf-mask-image: url(../static/img/root/about-us/about-us-main-image-mask.html);"><img class="aboutimg"
										src=" {% static 'img/root/about-us/about-us-main-image-layer-1.png' %} " alt=""
										loading="lazy"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
		</section>
		<section>
			<div class="container-xxl">
				<!--Divider-->
				<div class="ptf-divider" style="--ptf-color: var(--ptf-color-14); --ptf-height: 1px;"></div>
			</div>
		</section>







		<section></section>

		<section>
			<div class="container-xxl">
				<!--Divider-->
				<div class="ptf-divider"></div>
			</div>
		</section>
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-lg-3">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h1 class="large-heading">Our <br>Services</h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;"></div>
							<p class="fz-18">We help ambitious businesses like yours generate more profits by building
								awareness, driving web traffic, connecting with customers and growing overall sales.</p>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-lg: 4.375rem; --ptf-md: 2.1875rem;"></div>
					</div>
					<div class="col-lg-8 offset-lg-1">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box "><a class="ptf-service-box__link"
									href="#"></a>
								<div class="ptf-service-box__icon"><i class="lnil lnil-cup"></i></div>
								<h5 class="ptf-service-box__title">Brand <br>Consultant</h5>
								<div class="ptf-service-box__content">
									<p>We build and activate brands throung cultural insight &amp; strategic vision.
									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box "><a class="ptf-service-box__link"
									href="#"></a>
								<div class="ptf-service-box__icon"><i class="lnil lnil-website-rank"></i></div>
								<h5 class="ptf-service-box__title">UI/UX <br>Solution</h5>
								<div class="ptf-service-box__content">
									<p>We build and activate brands throung cultural insight &amp; strategic vision.
									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box "><a class="ptf-service-box__link"
									href="#"></a>
								<div class="ptf-service-box__icon"><i class="lnil lnil-3d"></i></div>
								<h5 class="ptf-service-box__title">Packaging</h5>
								<div class="ptf-service-box__content">
									<p>We build and activate brands throung cultural insight &amp; strategic vision.
									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box "><a class="ptf-service-box__link"
									href="#"></a>
								<div class="ptf-service-box__icon"><i class="lnil lnil-video-camera-alt-1"></i></div>
								<h5 class="ptf-service-box__title">Motion Video <br>& TVC</h5>
								<div class="ptf-service-box__content">
									<p>We build and activate brands throung cultural insight &amp; strategic vision.
									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
					</div>
				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 7.5rem; --ptf-md: 3.75rem;"></div>
				<div class="row" style="--bs-gutter-y: 2rem;">
					<div class="col-4">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Simple Image-->
							<div class="ptf-simple-image"><a href=" {% static 'img/about-us-image-1.png' %}"
									data-fancybox rel="nofollow"><img src=" {% static 'img/about-us-image-1.png' %}"
										alt="" loading="lazy"></a>
							</div>
						</div>
					</div>
					<div class="col-4">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Simple Image-->
							<div class="ptf-simple-image"><a href=" {% static 'img/about-us-image-2.png' %}"
									data-fancybox rel="nofollow"><img src=" {% static 'img/about-us-image-2.png' %}"
										alt="" loading="lazy"></a>
							</div>
						</div>
					</div>
					<div class="col-4">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Simple Image-->
							<div class="ptf-simple-image"><a href=" {% static 'img/about-us-image-2.png' %}"
									data-fancybox rel="nofollow"><img src=" {% static 'img/about-us-image-2.png' %}"
										alt="" loading="lazy"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos-delay="0">
							<h1 class="topheadingh3"><img src="../static/img/adsa.png" alt="" class="bannersub"><b>
									Partners & Clients</b></h1>

						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 7.5rem; --ptf-md: 3.75rem;"></div>
					</div>
				</div>
				<div class="row" style="--bs-gutter-y: 2rem;">
					<div class="col-md-3 col-lg-2 col-sm-4 col-4">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Partner Box-->
							<div class="ptf-partner-box"
								style="--ptf-hover-background: #fcf8f4; --ptf-image-height: 85px;">
								<div class="ptf-partner-box__image"><img
										src=" {% static 'img/root/partners/image-1.png' %}" alt="Zeplin" loading="lazy">
								</div>
								<h6 class="ptf-partner-box__title">Zeplin
								</h6>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-lg-2 col-sm-4 col-4">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Partner Box-->
							<div class="ptf-partner-box"
								style="--ptf-hover-background: #f3f7fc; --ptf-image-height: 78px;">
								<div class="ptf-partner-box__image"><img
										src=" {% static 'img/root/partners/image-2.png' %}" alt="Dropbox"
										loading="lazy"></div>
								<h6 class="ptf-partner-box__title">Dropbox
								</h6>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-lg-2 col-sm-4 col-4">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
							<!--Partner Box-->
							<div class="ptf-partner-box"
								style="--ptf-hover-background: #f9fcf3; --ptf-image-height: 90px;">
								<div class="ptf-partner-box__image"><img
										src=" {% static 'img/root/partners/image-3.png' %}" alt="Shopify"
										loading="lazy"></div>
								<h6 class="ptf-partner-box__title">Shopify
								</h6>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-lg-2 col-sm-4 col-4">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="300">
							<!--Partner Box-->
							<div class="ptf-partner-box"
								style="--ptf-hover-background: #f9f9f9; --ptf-image-height: 90px;">
								<div class="ptf-partner-box__image"><img
										src=" {% static 'img/root/partners/image-4.png' %}" alt="Slack" loading="lazy">
								</div>
								<h6 class="ptf-partner-box__title">Slack
								</h6>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-lg-2 col-sm-4 col-4">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="400">
							<!--Partner Box-->
							<div class="ptf-partner-box"
								style="--ptf-hover-background: #fdf4fb; --ptf-image-height: 62px;">
								<div class="ptf-partner-box__image"><img
										src=" {% static 'img/root/partners/image-5.png' %}" alt="WooCommerce"
										loading="lazy"></div>
								<h6 class="ptf-partner-box__title">WooCommerce
								</h6>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-lg-2 col-sm-4 col-4">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="500">
							<!--Partner Box-->
							<div class="ptf-partner-box"
								style="--ptf-hover-background: #fdf4fb; --ptf-image-height: 77px;">
								<div class="ptf-partner-box__image"><img
										src=" {% static 'img/root/partners/image-6.png' %}" alt="InvisionApp"
										loading="lazy"></div>
								<h6 class="ptf-partner-box__title">InvisionApp
								</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 8.75rem; --ptf-md: 4.375rem;"></div>
						<!--Divider-->
						<div class="ptf-divider"></div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
					</div>
				</div>
				<div class="row" style="--bs-gutter-y: 2rem;">
					<div class="col-6 col-lg-3">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Counter Up-->
							<div class="ptf-counter-up ptf-counter-up--style-1">
								<div class="ptf-counter-up__value" data-prefix="" data-suffix="">12
								</div>
								<h5 class="ptf-counter-up__title">Years of <br>Experience</h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-lg-3">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Counter Up-->
							<div class="ptf-counter-up ptf-counter-up--style-1">
								<div class="ptf-counter-up__value" data-prefix="" data-suffix="">820
								</div>
								<h5 class="ptf-counter-up__title">Satisfaction <br>Clients</h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-lg-3">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
							<!--Counter Up-->
							<div class="ptf-counter-up ptf-counter-up--style-1">
								<div class="ptf-counter-up__value" data-prefix="" data-suffix="">643
								</div>
								<h5 class="ptf-counter-up__title">Employees on <br>Worldwide</h5>
							</div>
						</div>
					</div>
					<div class="col-6 col-lg-3">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="300">
							<!--Counter Up-->
							<div class="ptf-counter-up ptf-counter-up--style-1">
								<div class="ptf-counter-up__value" data-prefix="" data-suffix="">1875
								</div>
								<h5 class="ptf-counter-up__title">Projects Completed <br>on 60 Countries</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
		</section>
		<section class="jarallax"><img class="jarallax-img"
				src=" {% static 'img/about-us-testimonial-background.png' %}" alt="" loading="lazy">
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 12.5rem; --ptf-md: 6.25rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-4">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0"><img
								src=" {% static 'img/root/quote.png' %}" alt="" loading="lazy">
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xl: 3.75rem;"></div>
					</div>
					<div class="col-xl-8">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Testimonial-->
							<div class="ptf-testimonial ptf-testimonial--style-2"
								style="--ptf-text-align: left; --ptf-content-color: var(--ptf-color-white); --ptf-author-color: var(--ptf-color-white); --ptf-info-color: var(--ptf-color-white);">
								<div class="ptf-testimonial__content">
									<p>“I don’t know what else to say, this is something that you haven’t seen before.
										Unique design, lightweight, and outstanding support!”</p>
								</div>
								<div class="ptf-testimonial__meta">
									<h6 class="ptf-testimonial__author">Pavel. S
									</h6>
									<div class="ptf-testimonial__info">CEO at Liarch Studio</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 12.5rem; --ptf-md: 6.25rem;"></div>
		</section>
		<section class="ptf-custom--1569">
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 8.75rem; --ptf-md: 4.375rem;"></div>
			<div class="container">
				<!--Animated Block-->
				<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
					<h2 class="h1 large-heading has-accent-1">Our Crew</h2>
				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 5.625rem; --ptf-md: 2.8125rem;"></div>
			</div>
			<div class="container">
				<div class="ptf-team-member-grid ptf-team-member-grid--4-columns">
					<!--Animated Block-->
					<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
						<!--Team Member-->
						<div class="ptf-team-member ptf-team-member--has-effect">
							<div class="ptf-team-member__avatar">
								<div class="shadow-effect"></div><a href="#"><img
										src=" {% static 'img/root/team/team-1.png' %} " alt="" loading="lazy"></a>
							</div>
							<div class="ptf-team-member__content">
								<h6 class="ptf-team-member__name"><a href="#">Stephan Bowie</a></h6>
								<p class="ptf-team-member__function">CEO Founder
								</p>
							</div>
						</div>
					</div>
					<!--Animated Block-->
					<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
						<!--Team Member-->
						<div class="ptf-team-member ptf-team-member--has-effect">
							<div class="ptf-team-member__avatar">
								<div class="shadow-effect"></div><a href="#"><img
										src=" {% static 'img/root/team/team-2.png' %} " alt="" loading="lazy"></a>
							</div>
							<div class="ptf-team-member__content">
								<h6 class="ptf-team-member__name"><a href="#">Robert Downey Jr</a></h6>
								<p class="ptf-team-member__function">CO Founder
								</p>
							</div>
						</div>
					</div>
					<!--Animated Block-->
					<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
						<!--Team Member-->
						<div class="ptf-team-member ptf-team-member--has-effect">
							<div class="ptf-team-member__avatar">
								<div class="shadow-effect"></div><a href="#"><img
										src=" {% static 'img/root/team/team-3.png' %} " alt="" loading="lazy"></a>
							</div>
							<div class="ptf-team-member__content">
								<h6 class="ptf-team-member__name"><a href="#">Laura Lorwence</a></h6>
								<p class="ptf-team-member__function">Project Management
								</p>
							</div>
						</div>
					</div>
					<!--Animated Block-->
					<div class="ptf-animated-block" data-aos="fade" data-aos-delay="300">
						<!--Team Member-->
						<div class="ptf-team-member ptf-team-member--has-effect">
							<div class="ptf-team-member__avatar">
								<div class="shadow-effect"></div><a href="#"><img
										src=" {% static 'img/root/team/team-4.png' %} " alt="" loading="lazy"></a>
							</div>
							<div class="ptf-team-member__content">
								<h6 class="ptf-team-member__name"><a href="#">David De Berg</a></h6>
								<p class="ptf-team-member__function">Lead of Technical
								</p>
							</div>
						</div>
					</div>
					<!--Animated Block-->
					<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
						<!--Team Member-->
						<div class="ptf-team-member ptf-team-member--has-effect">
							<div class="ptf-team-member__avatar">
								<div class="shadow-effect"></div><a href="#"><img
										src=" {% static 'img/root/team/team-5.png' %} " alt="" loading="lazy"></a>
							</div>
							<div class="ptf-team-member__content">
								<h6 class="ptf-team-member__name"><a href="#">Elena Stephan</a></h6>
								<p class="ptf-team-member__function">SEO/Marketing
								</p>
							</div>
						</div>
					</div>
					<!--Animated Block-->
					<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
						<!--Team Member-->
						<div class="ptf-team-member ptf-team-member--has-effect">
							<div class="ptf-team-member__avatar">
								<div class="shadow-effect"></div><a href="#"><img
										src=" {% static 'img/root/team/team-6.png' %} " alt="" loading="lazy"></a>
							</div>
							<div class="ptf-team-member__content">
								<h6 class="ptf-team-member__name"><a href="#">Andy Robertson</a></h6>
								<p class="ptf-team-member__function">Content Writer
								</p>
							</div>
						</div>
					</div>
					<!--Animated Block-->
					<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
						<!--Team Member-->
						<div class="ptf-team-member">
							<div class="ptf-team-member__avatar">
								<div class="shadow-effect"></div><a href="#"><img
										src=" {% static 'img/root/team/new-member.png' %} " alt="" loading="lazy"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
		</section>
	</article>
</main>

{% endblock %}