{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="ptf-main">
	<article class="ptf-page ptf-page--portfolio-listing">
		<section class="has-accent-1-background other">
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 18rem; --ptf-md: 16rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-9">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h1 class="fz-70 fz-40--md fw-extrabold lh-1p1 has-white-color">Careers</h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1rem;"></div>
							<h4 class="fz-18">Grow your brand with the most
								creative designers.</h4>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
					</div>
					<div class="col-lg-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Simple Image-->
							<div class="ptf-simple-image"><a href=" {% static 'img/service-detail.png' %} "
									data-fancybox rel="nofollow"><img src=" {% static 'img/service-detail.png' %} "
										alt="" loading="lazy"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
			<div class="container-xxl">
				<h1 class="fz-40 fz-40--md fw-extrabold lh-1p1 has-black-color text-center">Open Position</h1>


				<div class="ptf-navbar-search" style="margin-left: 1054px;font-size: 1rem;">
					<div class="ptf-navbar-search__wrapper">
						<form action="" method="GET">
							<input type="text" placeholder="Type and hit enter to search..." name="search">
							<!-- <button class="btn btn-primary">Search</button> -->

						</form>
					</div>
					<a class="ptf-navbar-search__toggle" style="color: black;" href="#">
						<i class="lnir lnir-search-alt" style="color: black;font-size: large;font-weight: 700;"></i>

						<i class="lnir lnir-close"
							style="color: black;font-size: large;font-weight: 700;margin-left: 20px;"></i>
					</a>
				</div>
				<br><br>

				<div class="row height d-flex justify-content-center align-items-center">
					<div class="row">
						{% for job in jobs %}
						<div class="col-lg-4 col-md-4 col-sm-12 col-12">
							<div class="wrapper">
								<!-- <div class="orange-top orange-border"></div>
								<div class="orange-left orange-border"></div> -->
								<a class="white-card" href="{% url 'careers_details' job.id %}">
									<p class="category" style="color:#fd7e14 ;">New</p>
									<p class="category mb-2">{{job.job_title}}</p>
									<br>
									<ul class="d-flex" style="list-style-type: none">
										<li class="categoryvacc mt-0 text-left"><img class="mt-0 pl-3 pr-2"
												src="{% static 'img/vaccancy.svg' %}" alt="icon">Vaccancy:
											{{job.vaccancy}}</li>
										<li class="categoryvacc mt-0 text-right"><img class="mt-0 pl-3 pr-2"
												src="{% static 'img/experiance.svg' %}" alt="icon">Experiance:
											{{job.experience}} Year</li>

									</ul>
									<p><span class="CTA">Apply Now</span></p>

								</a>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>

				<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
		</section>
	</article>
</main>


{% endblock %}
