{% extends 'partials/base.html' %}
{% load static %}
{% block content %}





<style>
	.wrapper {
		display: block;
		margin-top: auto;
		margin-left: auto;
		width: 435px;
		height: 260px;
		position: relative;
		padding: 10px;
	}

	.orange-border {
		background-color: #FF8D00;
		background-image: linear-gradient(130deg, #F88D32, #F9BC4F);
		position: absolute;
	}

	.orange-top {
		width: 100px;
		height: 10px;
		top: 0;
		left: 0;
	}

	.orange-left {
		width: 10px;
		height: 100px;
		top: 0;
		left: 0;
	}

	@keyframes leftgrow {
		0% {
			height: 100px;
			width: 10px;
		}

		40% {
			height: 100%;
			width: 10px;
		}

		100% {
			width: 100%;
			height: 100%;
		}
	}

	@keyframes leftshrink {
		0% {
			width: 100%;
			height: 100%;
		}

		60% {
			height: 100%;
			width: 10px;
		}

		100% {
			height: 100px;
			width: 10px;
		}
	}

	@keyframes topgrow {
		0% {
			width: 100px;
			height: 10px;
		}

		60% {
			width: 100%;
			height: 10px;
		}

		100% {
			width: 100%;
			height: 100%;
		}
	}

	@keyframes topshrink {
		0% {
			width: 100%;
			height: 100%;
		}

		40% {
			width: 100%;
			height: 10px;
		}

		100% {
			width: 100px;
			height: 10px;
		}
	}

	.orange-left.grow {
		animation: leftgrow .5s forwards;
	}

	.orange-left.shrink {
		animation: leftshrink .5s forwards;
	}

	.orange-top.grow {
		animation: topgrow .5s forwards;
	}

	.orange-top.shrink {
		animation: topshrink .5s forwards;
	}

	.white-card {
		display: block;
		text-decoration: none;
		position: absolute;
		background-color: white;
		left: 10px;
		top: 10px;
		width: calc(88% - 20px);
		height: calc(106% - 20px);
		text-align: center;
		box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .2);
	}

	.white-card img {
		width: 30px;
		margin-top: 44px;
	}

	.category {
		font-size: 18px;
		color: #222;
		font-weight: 700;
		margin: 20px 0 30px;
	}

	.categoryvacc {
		font-size: 15px;
		color: #222;
		font-weight: 200;
		margin: 20px 10px 30px 22px;
	}

	.CTA {
		text-decoration: none;
		text-transform: uppercase;
		padding: 11px 40px 13px;
		color: #FF8D00;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 1px;
		font-weight: 600;
		border: 2px solid #FF8D00;
		display: inline-block;
		transition: all .5s;
	}


	.CTA.active {
		background-color: #FF8D00;
		color: white;
	}

	@media (max-width: 575px) {
		.white-card {
			display: block;
			text-decoration: none;
			position: absolute;
			background-color: white;
			left: 10px;
			top: 11px;
			width: calc(76% - -3px);
			height: calc(106% - 36px);
			text-align: center;
			box-shadow: 0 10px 40px 0 rgb(0 0 0 / 20%);
		}

		.CTA {
			text-decoration: none;
			text-transform: uppercase;
			padding: 7px 22px 7px;
			color: #FF8D00;
			font-size: 9px;
			line-height: 16px;
			letter-spacing: 1px;
			font-weight: 600;
			border: 2px solid #FF8D00;
			display: inline-block;
			transition: all .5s;
		}
	}

	@media (max-width: 320px) {
		.white-card {
			display: block;
			text-decoration: none;
			position: absolute;
			background-color: white;
			left: 10px;
			top: 11px;
			width: calc(60% - -3px);
			height: calc(104% - 36px);
			text-align: center;
			box-shadow: 0 10px 40px 0 rgb(0 0 0 / 20%);
		}
	}

	@media (max-width: 375px) {
		.white-card {
			display: block;
			text-decoration: none;
			position: absolute;
			background-color: white;
			left: 10px;
			top: 11px;
			width: calc(63% - 24px);
			height: calc(105% - 85px);
			text-align: center;
			box-shadow: 0 10px 40px 0 rgb(0 0 0 / 20%);
		}
		.category {
			font-size: 18px;
			color: #222;
			font-weight: 700;
			margin: 14px 0 -5px;
			}
		.categoryvacc {
			font-size: 9.78px;
			color: #222;
			font-weight: 200;
			margin: 0px 20px 7px 16px;
			}
		.white-card img {
			width: 24px;
			margin-top: 44px;
		}
	}

	@media (min-width: 768px) {
		.white-card {
			display: block;
			text-decoration: none;
			position: absolute;
			background-color: white;
			left: 10px;
			top: 11px;
			width: calc(50% - -3px);
			height: calc(104% - 36px);
			text-align: center;
			box-shadow: 0 10px 40px 0 rgb(0 0 0 / 20%);
		}

		.CTA {
			text-decoration: none;
			text-transform: uppercase;
			padding: 7px 22px 7px;
			color: #FF8D00;
			font-size: 9px;
			line-height: 16px;
			letter-spacing: 1px;
			font-weight: 600;
			border: 2px solid #FF8D00;
			display: inline-block;
			transition: all .5s;
		}
	}


	@media (min-width: 1024px) {


		.CTA {
			text-decoration: none;
			text-transform: uppercase;
			padding: 7px 22px 7px;
			color: #FF8D00;
			font-size: 9px;
			line-height: 16px;
			letter-spacing: 1px;
			font-weight: 600;
			border: 2px solid #FF8D00;
			display: inline-block;
			transition: all .5s;
		}

		.white-card {
			display: block;
			text-decoration: none;
			position: absolute;
			background-color: white;
			left: 10px;
			top: 11px;
			width: calc(76% - -3px);
			height: calc(113% - 36px);
			text-align: center;
			box-shadow: 0 10px 40px 0 rgb(0 0 0 / 20%);
		}
	}

</style>
<main class="ptf-main">
	<article class="ptf-page ptf-page--portfolio-listing">
		<section class="has-accent-1-background banner other">
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 18rem; --ptf-md: 16rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-9">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h1 class="fz-70 fz-40--md fw-extrabold lh-1p1 has-white-color">Careers</h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1rem;"></div>
							<h4 class="fz-18">Grow your brand with the most
								creative designers.</h4>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
					</div>
					<div class="col-lg-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Simple Image-->
							<div class="ptf-simple-image"><a href=" {% static 'img/service-detail.png' %} "
									data-fancybox rel="nofollow"><img src=" {% static 'img/service-detail.png' %} "
										alt="" loading="lazy"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
			<div class="container-xxl">
				<h1 class="fz-40 fz-40--md fw-extrabold lh-1p1 has-black-color text-center">Open Position</h1>


				<div class="ptf-navbar-search" style="margin-left: 1054px;font-size: 1rem;">
					<div class="ptf-navbar-search__wrapper">
						<form action="" method="GET">
							<input type="text" placeholder="Type and hit enter to search..." name="search">
							<!-- <button class="btn btn-primary">Search</button> -->

						</form>
					</div>
					<a class="ptf-navbar-search__toggle" style="color: black;" href="#">
						<i class="lnir lnir-search-alt" style="color: black;font-size: large;font-weight: 700;"></i>

						<i class="lnir lnir-close"
							style="color: black;font-size: large;font-weight: 700;margin-left: 20px;"></i>
					</a>
				</div>
				<br><br>

				<div class="row height d-flex justify-content-center align-items-center">
					<!-- <div class="col-md-8">
						<form action="" method="GET" class="">
							<div class="search">
								<i class="fa fa-search"></i>
								<input type="text" class="form-control" placeholder="Search jobs" name="search">
								<button class="btn btn-primary">Search</button>
							</div>
						</form>
					</div> -->
					<div class="row">
						{% for job in jobs %}
						<div class="col-lg-4 col-md-4 col-sm-12 col-12">
							<div class="wrapper">
								<div class="orange-top orange-border"></div>
								<div class="orange-left orange-border"></div>
								<a class="white-card" href="{% url 'careers_details' job.id %}">
									<p class="category" style="color:#fd7e14 ;">New</p>
									<p class="category mb-2">{{job.job_title}}</p>
									<br>
									<ul class="d-flex" style="list-style-type: none">
										<li class="categoryvacc mt-0 text-left"><img class="mt-0 pl-3 pr-2" src="{% static 'img/vaccancy.svg' %}" alt="icon">Vaccancy: {{job.vaccancy}}</li>
										<li class="categoryvacc mt-0 text-right"><img class="mt-0 pl-3 pr-2" src="{% static 'img/experiance.svg' %}" alt="icon">Experiance: {{job.experience}} Year</li>
									
									</ul>
									<p><span class="CTA">Read More</span></p>

								</a>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>

				<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
		</section>
	</article>
</main>


<script>
	$('.white-card').mouseenter(function () {
		$('.orange-border').removeClass('shrink');
		$('.orange-border').addClass('grow');
		$('.CTA').addClass('active');
	});

	$('.white-card').mouseleave(function () {
		$('.orange-border').removeClass('grow');
		$('.orange-border').addClass('shrink');
		$('.CTA').removeClass('active');
	});

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
{% endblock %}
