{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
	.accordion {
		padding: 4rem;
	}

	summary {
		display: grid !important;
		display: block;
		margin: 0 auto;
		cursor: pointer;
		background: #ffffff;
		padding: 1rem 2rem;
		line-height: 2.2 !important;
	}

	summary h6 {
		font-size: 1.5rem;
		padding-bottom: 4px;
		color: hsl(28deg 100% 50%);
	}

	summary h3 {
		font-size: 3.75rem;
	}

	details {
		display: block;
		margin: 0 auto;
		width: 100%;
		margin-bottom: 1rem;
	}

	details p {
		margin: 1rem auto;
		translate: 2rem 0;
	}

	summary>* {
		display: inline;
	}

	.jobdetails {
		padding-top: 23px;
		font-size: 18px;
		padding-left: 38px;
	}

	.btnpadding {
		padding-left: 38px;
	}
</style>
<!--Main-->
<main class="ptf-main">
	<article class="ptf-page ptf-page--portfolio-listing">
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 16rem; --ptf-md: 12rem; --ptf-sm: 16rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-10">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h1 class="fz-70 fz-40--md fw-extrabold lh-1p1 has-white-color">Careers</h1>
							<div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;"></div>
							<p class="fz-18">We wish to produce our thoughts, latest news, events and updates through
								our creative and engaging blogs to keep the users entertained and educated.</p>

						</div>
					</div>
				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 4.375rem; --ptf-sm: 3.375rem;"></div>
			</div>

		</section>
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 4rem; --ptf-md: 5rem;"></div>

			<div class="container-new ml-5 mr-0">
				<!--Animated Block-->
				<div class="ptf-animated-block bannerdigital" data-aos="fade" data-aos-delay="200">
					<h2>Careers - Job Opportunities <img src="../static/img/adsa.png" alt="" class="bannersub"></h2>
					<h4 class="h1title"><b>Ready for your career in Gedexo? You are a click away now.</b></h4>
				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
				<!--Animated Block-->

				<div class="accordion">
					<details>
						<p>
						<ul class="jobdetails">
							<li>Working with a version control system working as a full-time professional developer
								(Mobile) & flutter Must</li>
							<li>Published at least 2-3 app on the Google Play Store and iOS using Flutter/Native</li>
							<li>Fluent with Android development (Java/Kotlin)</li>
						</ul>
						<h5 class="jobdetails">Job type : Full time</h5>
						<h5 class="jobdetails">Salary : 15k+</h5>
						<div class="ptf-animated-block  btnpadding">
							<div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;"></div>
							<!--Button--><a class="ptf-btn ptf-btn--primary ptf-btn--inversed rounded"
								 target="_self">Apply Now<i style="padding-left:7px;"
									class="lnil lnil-arrow-right"></i></a>

						</div>
						</p>
						<summary>
							<h6 class="placecareers">Calicut | Malappuram</h6>
							<h3>Flutter developer</h3>
						</summary>
					</details>
					<details>
						<p>
						<ul class="jobdetails">
							<li>Working with a version control system working as a full-time professional developer
								(Mobile) & flutter Must</li>
							<li>Published at least 2-3 app on the Google Play Store and iOS using Flutter/Native</li>
							<li>Fluent with Android development (Java/Kotlin)</li>
						</ul>
						<h5 class="jobdetails">Job type : Full time</h5>
						<h5 class="jobdetails">Salary : 15k+</h5>
						<div class="ptf-animated-block  btnpadding" >
							<div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;"></div>
							<!--Button--><a class="ptf-btn ptf-btn--primary ptf-btn--inversed rounded" type="button" target="_self" id="enqrybtn">Apply Now<i style="padding-left:7px;"
									class="lnil lnil-arrow-right"></i></a>

						</div>
						</p>
						<summary>
							<h6 class="placecareers">Calicut | Malappuram</h6>
							<h3>Full stack Python developer</h3>
						</summary>
					</details>

				</div>
			</div>

			</div>
			</div>

			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>

			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
		</section>
	</article>
</main>


<div class="modal fade" id="exampleModal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalToggleLabel">Enquiry Now</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="POST" action="#" class="sppb-addon-form-builder-form ajax"
                enctype="multipart/form-data">{% csrf_token %}
                <div class="modal-body">

                    <label for="recipient-name" class="col-form-label" required>Name: </label>
                    <input type="text" name="name" class="form-control" id="recipient-name" required>{{forms.name}}

                    <label for="phn-name" class="col-form-label">Phone Number: </label>
                    <input type="text" name="phone" class="form-control" id="phn-name" required>{{forms.phone}}

                    <label for="prdct-name" class="col-form-label">Product name: </label>
                    <input type="text" name="product_name" class="form-control" id="prdct-name"
                        required>{{forms.product_name}}

                    <label for="qty-name" class="col-form-label">Quantity: </label>
                    <input type="number" name="quantity" class="form-control" id="qty-name" required>{{forms.quantity}}

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggleLabel"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {

        $('[id="enqrybtn"]').click(function () {

            $('[id="exampleModal"]').modal('show');

        });

    });


    

</script>
{% endblock %}