{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<main class="ptf-main">
	<article class="ptf-page ptf-page--contact">
		<section class="has-accent-1-background banner other">
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 18rem; --ptf-md: 16rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-9">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h1 class="fz-70 fz-40--md fw-extrabold lh-1p1 has-white-color">Contact</h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;"></div>
							<h4 class="fz-18">Grow your brand with the most
								creative designers.</h4>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
					</div>
					<div class="col-lg-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Simple Image-->
							<div class="ptf-simple-image"><a href=" {% static 'img/service-detail.png' %} "
									data-fancybox rel="nofollow"><img src=" {% static 'img/service-detail.png' %} "
										alt="" loading="lazy"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h3 class="topheadingh3"><img class="bannersub" src="../static/img/adsa.png" alt="">What We Do</h3>
							<h1 class="h1title"><b>Explore Creative And Digital Solutions For Business</b></h1>
							<div class="ptf-spacer" style=" --ptf-xxl: 2rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
							<p class="fz-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								Lorem Ipsum has been the industry's standard
								dummy text ever since the 1500s, when an unknown printer took a galley of type and
								scrambled it to make a type specimen
								book. It has survived not only five centuries, but also the leap into electronic
								typesetting, remaining essentially unchanged. It
								was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
								passages, and more recently with
								desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							<!--Spacer-->


						</div>
					</div>
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
		</section>
		<section>
			<div class="container-xxl">
				<div class="row">
					<div class="col-lg-4">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h5 class="fz-18 text-uppercase has-3-color fw-normal">Address</h5>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1.25rem;"></div>
							<p class="fz-18 lh-1p5 has-black-color">90 Fairground Rd St FL 3290<br>United States</p>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 2.1875rem;"></div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
							<h5 class="fz-18 text-uppercase has-3-color fw-normal">Email</h5>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1.25rem;"></div>
							<p class="fz-20 lh-1p5 has-black-color"><a href="mailto:hello@moonex.co"
									class="atag fz-18">hello@moonex.co<br></a><a href="mailto:career@moonex.co"
									class="atag fz-18">career@moonex.co</a></p>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 2.1875rem;"></div>
						<!--Animated Block-->
						<div class="ptf-animated-block atag" data-aos="fade" data-aos-delay="200">
							<h5 class="fz-18 text-uppercase has-3-color fw-normal">Phone</h5>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1.25rem;"></div>
							<p class="fz-18 lh-1p5 has-black-color"><a href="tel:+5632356565" class="atag">+56 3235 65
									65</a></p>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-lg: 4.375rem; --ptf-md: 2.1875rem;"></div>

						<div class="ptf-spacer" style=" --ptf-xxl: 2rem; --ptf-md: 5rem; --ptf-md: 1rem;"></div>

						<!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-3 twitter" href="#"
							target="_blank"><i class="socicon-twitter"></i></a>
						<!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-3 facebook"
							href="https://m.facebook.com/story.php?story_fbid=pfbid028GbWPxZDEgLgbo8hztEo5bjbgxkwwJ6Yfu39VzqvyrJJoh4LCDy7L2zFVR2Srb5wl&id=103864742313913"
							target="_blank"><i class="socicon-facebook"></i></a>
						<!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-3 instagram"
							href="https://www.instagram.com/stunsky.dt/" target="_blank"><i
								class="socicon-instagram"></i></a>
						<!--Social Icon--><a class="ptf-social-icon ptf-social-icon--style-3 pinterest" href="#"
							target="_blank"><i class="socicon-pinterest"></i></a>
					</div>
					<div class="col-lg-8">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="300">
							<h5 class="fz-18 text-uppercase has-3-color fw-normal">Tell us about your project and goals.
							</h5>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 3.125rem;"></div>
							<form method="POST" class="ajax" enctype="multipart/form-data">{% csrf_token %}
								<div class="ptf-form-group">
									<label class="fz-18">What’s your name?</label>
									{{forms.name}}
								</div>

								<div class="ptf-form-group">
									<label class="fz-18">What’s your email address?</label>
									{{forms.email}}
								</div>
								<div class="ptf-form-group">
									<label class="fz-18">What’s your phone number?</label>
									<!-- <input class="is-large" type="text"> -->
									{{forms.phone}}
								</div>
								<div class="ptf-form-group">
									<label class="fz-18">Tell us about your project goals</label>
									{{forms.project_goals}}
								</div>
								<div class="ptf-form-group">
									<label class="fz-18">What have you budgeted for this project?</label>
									{{forms.budeget}}

								</div>
								<!--Spacer-->
								<div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;"></div>
								<div class="ptf-form-group">
									<label class="ptf-checkbox fz-18" for="terms">
										<input class="d-none fz-18" type="checkbox" id="terms"><span
											class="ptf-checkbox__checkmark"></span>I agree to receive occasional
										Stunsky newsletters containing news & advice on creating personal and
										business progress via digital tech.
									</label>
								</div>
								<!--Spacer-->
								<div class="ptf-spacer" style=" --ptf-xxl: 2.625rem;"></div>
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
									<!--Button--><button type="submit"
										class="ptf-btn ptf-btn--primary ptf-btn--inversed" href="#"
										target="_self">Submit</button>

								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
		</section>
	</article>
</main>


{% endblock %}