{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<style>
	/* menu {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 60px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	menu li {
		width: 170px;
		height: 60px;
	}

	menu button {
		transition: all 450ms cubic-bezier(.4, .25, .3, 1.3);
		width: 130px;
		height: 130px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		color: #000000;
		border: 1px solid #fe6b01;
		border-radius: 50%;
		cursor: pointer;
		overflow: hidden;
	}

	menu button span {
		transition: all 400ms cubic-bezier(.4, .25, .3, 1.3) 100ms;
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 1.5rem;
		font-weight: 900;
		line-height: 60px;
		vertical-align: middle;
	}

	menu button span:first-of-type {
		font-size: 2.5rem;
		transform: translate(-50%, -50%);
	}

	menu button span:last-of-type {
		transform: translate(-50%, 50%);
		text-transform: uppercase;
	} */

</style>






<!--Main-->
<main class="ptf-main">
	<article class="ptf-page ptf-page--service-detail">
		<section class="has-accent-1-background other">
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 18rem; --ptf-md: 16rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-9">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h1 class="fz-70 fz-40--md fw-extrabold lh-1p1 has-white-color">Graphic Design</h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1rem;"></div>
							<h4 class="fz-18">Grow your brand with the most creative designs.</h4>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
					</div>
					<div class="col-lg-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Simple Image-->
							<div class="ptf-simple-image"><a href=" {% static 'img/service-detail.png' %} "
									data-fancybox rel="nofollow"><img src=" {% static 'img/service-detail.png' %} "
										alt="" loading="lazy"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 2rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h3 class="topheadingh3"><img class="bannersub" src="../static/img/adsa.png" alt=""> Design With Stunsky</h3>
							<h1 class="h1title"><b>Grab the customer’s attention with great designs</b></h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1.5rem;"></div>
							<p class="fz-18">Graphic designing has been one of the main services offered by Stunsky Technologies since we began in 2018. We have earned the reputation of being among Kerala's finest graphic designers because of our extensive experience. Our services have assisted clients in transforming their thoughts into stunning graphic designs that reflect their brand value and identity. We have created several sorts of designs for clients belonging to different industries based on their requirements. For our clients, Stunsky creates exceptional designs that are imaginative, appealing, significant, and accurately reflect the essence of the brand and its marketing.
							</p>
						</div>


						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 4.375rem;"></div>
						<!--Animated Block-->

						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 1.125rem;--ptf-sm: 0.125rem;"></div>
						<div class="row" style="--bs-gutter-x: 3.75rem; --bs-gutter-y: 1.5rem">
							<div class="col-lg-1 col-md-1 col-sm-1 col-1 ">

							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><img src=" {% static 'img/Services/Talented graphic designers-01.png' %} " alt=""></span>
											<span></span>
										</button>
										<h6 class="h6inservice">
											Talented graphic designers</h6>

									</menu>

								</div>
							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->

								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><img src=" {% static 'img/Services/Buyer pleasing & unique design-01.png' %} " alt=""></span>
											<span></span>
										</button>
										<h6 class="h6inservice">
											Buyer pleasing & unique design</h6>
									</menu>

								</div>

							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><img src=" {% static 'img/Services/eye-getting configuration-01.png' %} " alt=""></span>
											<span></span>
										</button>
										<h6 class="h6inservice">
											eye-getting configuration</h6>

									</menu>
								</div>
							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><img src="../static/img/Services/Talented graphic designers-01.png" alt=""></span>
											<span></span>
										</button>
										<h6 class="h6inservice">
											Mockup Design</h6>

									</menu>
								</div>
							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><img src=" {% static 'img/Services/24x7 customer support-01.png' %} " alt=""></span>
											<span></span>
										</button>
										<h6 class="h6inservice">
											24x7 customer support</h6>

									</menu>
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 col-1">

							</div>
						</div>

					</div>
				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
		</section>

		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 15rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
			<div class="container-xxl">
				<div class="row align-items-center">
					<div class="col-12 col-lg-12 col-md-12 col-sm-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h3 class="topheadingh3"><img class="bannersub" src="../static/img/adsa.png" alt="">Our
								Projects</h3>
							<h1 class="h1title"><b>Some of our creative projects</b></h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1.5rem;"></div>

						</div>

					</div>

				</div>

				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 2rem; --ptf-md: 2rem; --ptf-sm: 0rem;"></div>
				<!--Animated Block-->
				<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">

					<div class="row">
						{% for i in portfolio %}
						<div class="col-lg-4 col-md-4 col-sm-6 col-6">
							<div class="swiper-slide">
								<div>
									<!--Portfolio Item-->
									<article class="ptf-work ptf-work--style-1">
										<div class="ptf-work__media"><a class="ptf-work__link" href="#"></a><img
												class="projectimg" src=" {{i.image.crop.440x440}}" alt=""
												loading="lazy">
										</div>

									</article>
								</div>
							</div>
						</div>
						{% endfor %}


					</div>



				</div>
			</div>
			</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
		</section>
	</article>
</main>

{% endblock %}
