{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<!--Main-->
<main class="ptf-main">
	<article class="ptf-page ptf-page--portfolio-grid">

		<section class="has-accent-1-background other">
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 16rem; --ptf-md: 12rem; --ptf-sm: 16rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-10">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h1 class="fz-70 fz-40--md fw-extrabold lh-1p1 has-white-color">Image and Data Services</h1>
							<div class="ptf-spacer" style=" --ptf-xxl: 1rem;"></div>
							<p class="fz-18">With our stunning image and data services, we can make your images and data
								stand out.</p>

						</div>
					</div>
				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 4.375rem; --ptf-sm: 3.375rem;"></div>
			</div>

		</section>
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 2rem; --ptf-md: 5rem; --ptf-sm: 1rem;"></div>

			<div class="container-xxl">
				<!--Animated Block-->

				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-sm: 2rem;"></div>
				<!--Animated Block-->
				<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
					<div class="grid-sizer"></div>
					<div class="row">
						{% for data in data_service %}
						<div class="col-lg-6 col-md-6 col-sm-6 col-6">
							<div class=" grid-item filter-1 filter-4 filter-7">
								<!--Portfolio Item-->
								<article class="ptf-work ptf-work--style-1 ptf-work--large-title">
									<div class="row">
										<div class="col-lg-6">
											<div class=""><img src="{{data.image.crop.745x600}}" alt="{{data.title}}"
													loading="lazy" style="border: 2px solid;">
											</div>
										</div>
										<div class="col-lg-6 mb-5 pb-5">
											<div class="ptf-work__meta pt-0">
												<div class="fz-40">
													<b>{{data.title}}</b>
												</div>
												<p class="fz-18" style="text-align:justify;">{{data.details}}</p>
											</div>
											<br>
											<div class="ptf-animated-block mt-2" data-aos="fade" data-aos-delay="0">
												<!--Button--><a
													class="ptf-btn ptf-btn--primary ptf-btn--inversed rounded"
													href="{% url 'contact' %}" target="_self">REQUEST A QUOTE</a>

											</div>
										</div>

									</div>


								</article>
							</div>
						</div>
						{% endfor %}

					</div>


				</div>
			</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-sm: 2rem;"></div>
		</section>
		<section>
			<div class="container-xxl">
				<!--Divider-->
				<div class="ptf-divider" style="--ptf-height: 1px; --ptf-color: var(--ptf-color-14);"></div>
			</div>
		</section>

	</article>
</main>
{% endblock %}