{% extends 'partials/base.html' %}
{% load static %}
{% block content %}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


<!--Main-->
<main class="ptf-main">
	<article class="ptf-page ptf-page--home-default">
		<!-- Banner section -->
		<section class="has-accent-1-background banner">
			<div class="ptf-spacer" style=" --ptf-xxl: 7rem;">
			</div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-6 col-sm-6 col-md-5 col-6">
						<div class="ptf-spacer" style=" --ptf-xxl: 0.625rem;">
						</div>
						<!--Spacer -->
						<div class="ptf-spacer" style=" --ptf-xxl: 10.125rem; --ptf-md: 8.0625rem;">
						</div>
						<!--Animated Block-->
						<div class="ptf-animated-block bannerdigital" data-aos="fade" data-aos-delay="200">
							<h3>
								<img src="../static/img/adsa.png" alt="" class="bannersub">
								<b>Digital Studio</b> 
							</h3>
							<p class="fz-70 fz-40--md fw-extrabold lh-1p1 has-white-color">
								Good design mean that good
								business
							</p>
						</div>
						<div class="row">
							<div class="col-xl-8 col-md-12">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
									<!--Spacer-->
									<div class="ptf-spacer" style=" --ptf-xxl: 2.375rem; --ptf-md: 0.1875rem;">
									</div>
									<p class="fz-24 has-white-color bannerpara">
										We help our client suceed by creating
										identities, digital experiences, and printmaterials that communicate
										clearly, achieve marketing goals & look fantastic Lorem uispum dolor sit
										amert tunoer poea opefse ceefo goipully.
									</p>
								</div>
								<!--Spacer-->
								<div class="ptf-spacer" style=" --ptf-xxl: 4.875rem; --ptf-md: 1.4375rem;">
								</div>
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
									<!--Button--><a class="ptf-btn ptf-btn--primary ptf-btn--instyle=" border-radius:
										9.25px;box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)"
										href="{% url 'about us' %}" target="_self">Learn More</a>
									<a class="ptf-btn ptf-btn--primary ptf-btn--instyle=" border-radius:
										9.25px;box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)"
										href="{% url 'contact' %}" target="_self">Get A Quote</a>
								</div>
								<div class="ptf-spacer" style=" --ptf-xxl: 1.875rem; --ptf-md: 1.4375rem;"></div>
								<div class="row ptf-animated-block bannerbottomlg">
									<div class="col-lg-6 col-md-6 col-sm-6 col-6 px-0">
										<i class="lnil lnil-phone bannericon"></i>
										<b class="phone-email">+91 9526 850 904 </b>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-6 px-0">
										<i class="lnil lnil-envelope-alt bannericon"></i>
										<b class="phone-email">info@stunsky.com </b>
									</div>
								</div>
								<!-- </div> -->
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-sm-6 col-md-7 col-6 text-center">
						<div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active image-size mx-auto">
									<img src="{% static 'img/about-me-main-image.jpg' %} " class="d-block w-100" alt="...">
								</div>
								<div class="carousel-item image-size">
									<img src=" {% static 'img/about-me-main-image.jpg' %} " class="d-block w-100" alt="...">
								</div>
								<div class="carousel-item image-size">
									<img src=" {% static 'img/about-me-main-image.jpg' %} " class="d-block w-100" alt="...">
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true">
								</span>
								<span class="sr-only">Previous 
								</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true">
								</span>
								<span class="sr-only">Next 
								</span>
							</a>
						</div>
					</div>
					<div class="row ptf-animated-block bannerbottom">
						<div class="col-lg-6 col-md-6 col-sm-6 col-6">
							<i class="lnil lnil-phone bannericon"></i>
							<b class="phone-email">+91 9526 850 904 </b>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-6">
							<i class="lnil lnil-envelope-alt bannericon"></i>
							<b class="phone-email">info@stunsky.com </b>
						</div>
					</div>
				</div>
				<div class="ptf-spacer" style=" --ptf-xxl: 0.875rem; --ptf-md: 3.4375rem; --ptf-sm: 1rem;">
				</div>
			</div>
		</section>
		<!-- banner section end -->
		<!-- About section -->
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-lg-5">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h3 class="topheadingh3">
								<img class="bannersub" src="../static/img/adsa.png" alt="">
								What We Do
							</h3>
							<h1 class="h1title">
								<b>Explore Creative And
									Digital Solutions
									For Business
								</b>
							</h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1.5rem;">
							</div>
							<p class="fz-18">
								We help ambitious businesses like yours generate more profits by
								building awareness, driving web traffic, connecting with customers and growing
								overall sales.
							</p>
						</div>
						<div class="ptf-animated-block">
							<div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;">
							</div>
							<a class="ptf-btn ptf-btn--primary ptf-btn--in orangebutton" href="{% url 'about us' %}" target="_self">Learn More 
								<i style="padding-left:7px;" class="lnil lnil-arrow-right"></i>
							</a>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-lg: 4.375rem; --ptf-md: 2.1875rem;">
						</div>
					</div>
					<div class="col-lg-6 offset-lg-1">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box "><a class="ptf-service-box__link"
									href="{% url 'Graphic Design' %}"></a>
								<div class="ptf-service-box__icon"><i class="lnil lnil-cup"></i></div>
								<h5 class="ptf-service-box__title">Graphics <br>Design</h5>
								<div class="ptf-service-box__content">
									<p>We build and activate brands throung cultural insight &amp; strategic vision.
									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box "><a class="ptf-service-box__link" href="{% url 'UI UX' %}"></a>
								<div class="ptf-service-box__icon"><i class="lnil lnil-website-rank"></i></div>
								<h5 class="ptf-service-box__title">UI/UX <br>Solution</h5>
								<div class="ptf-service-box__content">
									<p>We build and activate brands throung cultural insight &amp; strategic vision.
									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box "><a class="ptf-service-box__link"
									href="{% url 'Package Design' %}"></a>
								<div class="ptf-service-box__icon"><i class="lnil lnil-3d"></i></div>
								<h5 class="ptf-service-box__title">Packaging</h5>
								<div class="ptf-service-box__content">
									<p>We build and activate brands throung cultural insight &amp; strategic vision.
									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box "><a class="ptf-service-box__link"
									href="{% url 'Web Development' %}"></a>
								<div class="ptf-service-box__icon"><i class="lnil lnil-video-camera-alt-1"></i>
								</div>
								<h5 class="ptf-service-box__title">Web <br>Development</h5>
								<div class="ptf-service-box__content">
									<p>We build and activate brands throung cultural insight &amp; strategic vision.
									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box "><a class="ptf-service-box__link"
									href="{% url 'other offerings' %}"></a>
								<div class="ptf-service-box__icon"><i class="lnil lnil-video-camera-alt-1"></i>
								</div>
								<h5 class="ptf-service-box__title">Other <br>Offerings</h5>
								<div class="ptf-service-box__content">
									<p>We build and activate brands throung cultural insight &amp; strategic vision.
									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
		</section>
		<!-- about section end -->

		<!-- Latest work section -->
		<section>
			<div class="container-xxl">
				<div class="row align-items-center">
					<div class="col-12 col-md-10">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos-delay="0">
							<h3 class="topheadingh3">
								<img class="bannersub" src="../static/img/adsa.png" alt="">
								Our Recent Works
							</h3>
							<h1 class="h1title">
								<b>Our Recent Web Design & Some Past Projects.</b>
							</h1>
							<a class="ptf-link-with-arrow fz-18 text-uppercase fw-semibold has-black-color d-none d-lg-inline-flex" href="#" style="margin-left: 5.625rem;">
							</a>
						</div>
					</div>
					<div class="col-12 col-md-2 text-md-end">
						<!--Spacer-->
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
						</div>
					</div>
				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 3.5rem; --ptf-md: 1.25rem; --ptf-sm: 0rem;">
				</div>
				<!--Animated Block-->
				<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
					<!--Content Slider-->
					<div class="row">
						{% for portfolios in portfolio %}
						<div class="col-lg-3 col-md-3 col-sm-4 col-4 px-0 py-3">
							<div>
								<!--Portfolio Item-->
								<article class="ptf-work ptf-work--style-3">
									<div class="ptf-work__media">
										{% if portfolios.category.title == 'UI/UX' %}
											<a class="ptf-work__link" href="{% url 'UI UX' %}">
											</a>
										{% elif portfolios.category.title == 'Graphics Design' %}
											<a class="ptf-work__link" href="{% url 'Graphic Design' %}">
											</a>
										{% elif portfolios.category.title == 'Packaging' %}
											<a class="ptf-work__link" href="{% url 'Package Design' %}">
											</a>
										{% elif portfolios.category.title == 'Web Development' %}
											<a class="ptf-work__link" href="{% url 'Web Development' %}">
											</a>
										{% endif %}
										<img style="border-radius: 9.25px;box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)"
											src="{{portfolios.image.crop.440x440}}" alt="" loading="lazy">
										<div class="text-block">
											<h4>{{portfolios.category.title}}</h4>
										</div>
									</div>
								</article>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
		</section>
		<!-- Latest work section end -->
		<!-- Our Apporch section -->
		<section class="has-accent-1-background">
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 3rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
			<div class="container-xxl">
				<!--Animated Block-->
				<div class="ptf-animated-block" data-aos-delay="0">
					<h2 class="h1title h1 large-heading text-center">
						<b>Rapidly increasing achievements through growth and experience</b>
					</h2>
				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 2.5rem; --ptf-md: 3.75rem;">
				</div>

				<div class="row" style="--bs-gutter-x: 3.75rem; --bs-gutter-y: 2.5rem">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 yellowconent ">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos-delay="0">
							<!--Approach Box-->
							<div class="ptf-approach-box space-approach"
								style="--ptf-title-color: var(--ptf-color-white);">

								<div class="ptf-approach-box__content text-center">
									<p class="parabox "><img src="{% static 'img/phoneicon.png' %} " alt="phone icon"
											style="width: 8%;"> CALL US DIRECTLY</p>
									<p>+91 9526 850 904</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 yellowconent ">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos-delay="100">
							<!--Approach Box-->
							<div class="ptf-approach-box space-approach"
								style="--ptf-title-color: var(--ptf-color-white);">

								<div class="ptf-approach-box__content text-center">
									<p class="parabox">1000+</p>
									<p>HAPPY CLIENTS
										IN 10 YEARS</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 yellowconent  ">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos-delay="200">
							<!--Approach Box-->
							<div class="ptf-approach-box space-approach"
								style="--ptf-title-color: var(--ptf-color-white);">

								<div class="ptf-approach-box__content text-center">
									<p class="parabox">10000+</p>
									<p>PROJECTS COMPLETED</p>
								</div>
							</div>
						</div>
					</div>
					<div class="">
						<h1 class="large-heading text-center">Do you have a project, maybe you are looking for
							creative solutions for web and app development</h1>
					</div>
					<center>
						<div class="ptf-animated-block" data-aos-delay="0" style="color: black;">
							<!--Button--><a class="ptf-btn ptf-btn--primary ptf-btn--in" href="{% url 'contact' %}"
								target="_self">REQUEST A QUOTE</a>
						</div>
					</center>
					<div class="col-xl-2">
					</div>
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 0rem;">
			</div>
		</section>
		<!-- Our Apporch section end -->
		<!-- Testimonial section -->
		<section>
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<center>
							<img class="bannersub" src="{% static 'img/adsa.png' %} " alt="">
							<h3 class="topheadingh3 d-inline-flex">Client Reviews</h3><img class="bannersub"
								style="margin-left: 3px;" src=" {% static 'img/adsa.png' %} " alt="">
						</center>
						<center>
							<h1 class="h1title"><b> People Say About Our Works And
									Say Our Agency</b></h1>
						</center>
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
							<!-- Carousel indicators -->
							<ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
								<li data-target="#myCarousel" data-slide-to="2"></li>
							</ol>
							<!-- Wrapper for carousel items -->

							<div class="carousel-inner testimonialcaurosal">


								<div class="item active">

									{% for testimonial in testimonials %}
									<div class="col-lg-12 col-md-12">
										<div class="media">
											<div class="media-left d-flex center">
												<a href="#">
													<img class="testimimage" src="{{testimonial.image.url}}" alt="">
												</a>
											</div>
											<div class="media-body">
												<div class="testimonial">
													<p class="testip">{{testimonial.review}}.</p>
													<p class="overview"><b>{{testimonial.name}}</b>,
														{{testimonial.position}}</p>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}

								</div>




							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Testimonial section end -->
		<!-- Partner logo section -->
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 0rem; --ptf-md: 5rem; --ptf-sm: 5rem; ">
			</div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos-delay="0">
							<h3 class="topheadingh3"><img src=" {% static 'img/adsa.png' %} " alt="" class="bannersub">
								Partners & Clients</h3>
							<h1 class="h1title"><b>Partnered with 180+ brands from 15+ countries</b></h1>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 3.5rem; --ptf-md: 3.75rem; --ptf-sm: 0rem;"></div>
					</div>
				</div>
				<div class="row" style="--bs-gutter-y: 0rem;">
					{% for cilent in clients %}
					<div class="col-3 col-md-3 col-lg-2 col-sm-3">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos-delay="0">
							<!--Partner Box-->
							<div class="ptf-partner-box partnerscet">
								<div class="ptf-partner-box__image"><img src=" {{cilent.image.url}} "
										alt="{{cilent.name}}" loading="lazy"></div>
								<!-- <h6 class="ptf-partner-box__title">{{cilent.name}} -->
								</h6>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
		</section>
		<!-- Partner logo section end -->
	</article>
</main>



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

<script>
	$(document).ready(function () {
		$('#demo2').owlCarousel({
			loop: true,
			margin: 10,
			responsiveClass: true,
			responsive: {
				0: {
					items: 1,
					nav: true
				},
				600: {
					items: 1,
					nav: false
				},
				1000: {
					items: 1,
					nav: true,
					loop: false,
					margin: 20
				}
			}
		})
	})
</script>

{% endblock %}