{% extends 'base.html' %}
{% load static %}

{% block css_plugin %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
{% endblock %}

{% block content %}

<!--Main-->
<main class="ptf-main">
	<article class="ptf-page ptf-page--home-default">
		<!-- Banner section -->
		<section class="has-accent-1-background banner">
			<div class="container-xxl">

				<div class="row align-items-center h-100vh">
					<div class="col-xl-7 col-md-8 col-sm-10 col-12">

						<div class="ptf-animated-block bannerdigital" data-aos="fade" data-aos-delay="200">
							<div class="subcontainer">
								<b>Stunksy</b>
								<span class="bannersubline"></span>
							</div>
							<h1 class="fz-60 fz-60--md fw-extrabold lh-1p1 has-white-color">
								Digital Solutions <br>At It’s Best
							</h1>
						</div>

						<div class="row">
							<div class="col-xl-8 col-md-12">

								<p class="has-white-color bannerpara my-2">
									Stunsky is the best digital solution provider in Kerala, India. Get your
									business boosted with the experts of stunsky Design & Technologies.
								</p>
					
								<div class="ptf-animated-block mt-5 pt-5" data-aos="fade" data-aos-delay="0">
									<a class="ptf-btn ptf-btn--primary ptf-btn--instyle=" border-radius:
										9.25px;box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)"
										href="{% url 'about us' %}" target="_self">Learn More</a>
									<a class="ptf-btn ptf-btn--primary ptf-btn--instyle=" border-radius:
										9.25px;box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)"
										href="{% url 'contact' %}" target="_self">Get A Quote</a>
								</div>
								<div class="row ml-2">
									<div class=" col-lg-6 col-md-12 ptf-animated-block bannerbottomlg pl-0 ml-0">
										<div class="item p-1">
											<i class="lnil lnil-phone bannericon text-white"></i>
											<b class="phone-email text-white">+91 9526 850 904 </b>
										</div>
									</div>
									<div class="col-lg-6 col-md-12 ptf-animated-block bannerbottomlg1 pl-0 ml-0">
										<div class="item p-1">
											<i class="lnil lnil-envelope-alt bannericon1 text-white"></i>
											<b class="phone-email text-white">info@stunsky.com </b>
										</div>
									</div>
								</div>
								<!-- <div class="ptf-animated-block bannerbottomlg d-flex pl-0 ml-0">
									
									
								</div> -->

							</div>
						</div>
					</div>
				</div>
				
			</div>
		</section>
		<!-- banner section end -->
		<!-- About section -->
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-lg-4">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h3 class="topheadingh3">
								<img class="bannersub" src=" {% static 'img/adsa.png' %} " alt="">
								What We Do
							</h3>
							<h1 class="h1title">
								<b>Boost Your Business With Creative And Digital Solutions
								</b>
							</h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1.5rem;">
							</div>
							<p class="fz-18">
								Building awareness, driving traffic to your website, connecting with customers, and
								increase sales are some of the ways we help ambitious businesses like yours generate
								more profits.

							</p>
						</div>
						<div class="ptf-animated-block">
							<div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;">
							</div>
							<a class="ptf-btn ptf-btn--primary ptf-btn--in orangebutton" href="{% url 'about us' %}"
								target="_self">Learn More
								<i style="padding-left:7px;" class="lnil lnil-arrow-right"></i>
							</a>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-lg: 4.375rem; --ptf-md: 2.1875rem;">
						</div>
					</div>
					<div class="col-lg-7 offset-lg-1">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box "><a class="ptf-service-box__link"
									href="{% url 'Graphic Design' %}"></a>
								<div class="ptf-service-box__icon"><img
										src="{% static 'img/Home Page/Graphic Design-01.png' %} " alt="graphisdesgin">
								</div>
								<h5 class="ptf-service-box__title">Graphics <br>Design</h5>
								<div class="ptf-service-box__content">
									<p>We deliver the most pleasing visual designing solutions that can help you boost
										your business online.
									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box "><a class="ptf-service-box__link" href="{% url 'UI UX' %}"></a>
								<div class="ptf-service-box__icon"><img
										src=" {% static 'img/Home Page/UI UX-01.png' %} " alt="Uiux"></div>
								<h5 class="ptf-service-box__title">UI/UX <br>Solution</h5>
								<div class="ptf-service-box__content">
									<p>The best and most attractive user interfaces can attract and engage more users in
										your mobile application.
									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box "><a class="ptf-service-box__link"
									href="{% url 'Package Design' %}"></a>
								<div class="ptf-service-box__icon"><img
										src=" {% static 'img/Home Page/Package-01.png' %} " alt="packaging"></div>
								<h5 class="ptf-service-box__title">Packaging</h5>
								<div class="ptf-service-box__content">
									<p>Having a great package design can attract more buyers, which is why we deliver
										you the best package designs.

									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box "><a class="ptf-service-box__link"
									href="{% url 'Web Development' %}"></a>
								<div class="ptf-service-box__icon"><img
										src=" {% static 'img/Home Page/Web Development-01.png' %} " alt="web"></i>
								</div>
								<h5 class="ptf-service-box__title">Web <br>Development</h5>
								<div class="ptf-service-box__content">
									<p>The best web solution can maintain your presence online and be available to all
										customers can boost your business.

									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box "><a class="ptf-service-box__link"
									href="{% url 'other offerings' %}"></a>
								<div class="ptf-service-box__icon"><img
										src=" {% static 'img/Home Page/Other Offerings-01.png' %} " alt="">
								</div>
								<h5 class="ptf-service-box__title">Other <br>Offerings</h5>
								<div class="ptf-service-box__content">
									<p>There are server digital services that we are forced to use in our day-to-day
										life and we present the best for you.

									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
		</section>
		<!-- about section end -->

		<!-- Latest work section -->
		<section>
			<div class="container-xxl">
				<div class="row align-items-center">
					<div class="col-12 col-md-10">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos-delay="0">
							<h3 class="topheadingh3">
								<img class="bannersub" src=" {% static 'img/adsa.png' %} " alt="">
								Our Recent Works
							</h3>
							<h1 class="h1title">
								<b>Our Recent Web Design & Some Past Projects.</b>
							</h1>
							<a class="ptf-link-with-arrow fz-18 text-uppercase fw-semibold has-black-color d-none d-lg-inline-flex"
								href="#" style="margin-left: 5.625rem;">
							</a>
						</div>
					</div>
					<div class="col-12 col-md-2 text-md-end">
						<!--Spacer-->
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
						</div>
					</div>
				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 3.5rem; --ptf-md: 1.25rem; --ptf-sm: 0rem;">
				</div>
				<!--Animated Block-->
				<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
					<!--Content Slider-->
					<div class="row">
						{% for portfolios in portfolio %}
						<div class="col-lg-3 col-md-3 col-sm-4 col-4 px-0 py-3">
							<div>
								<!--Portfolio Item-->
								<article class="ptf-work ptf-work--style-3">
									<div class="ptf-work__media">
										{% if portfolios.category.title == 'UI/UX' %}
										<a class="ptf-work__link" href="{% url 'UI UX' %}">
										</a>
										{% elif portfolios.category.title == 'Graphics Design' %}
										<a class="ptf-work__link" href="{% url 'Graphic Design' %}">
										</a>
										{% elif portfolios.category.title == 'Packaging' %}
										<a class="ptf-work__link" href="{% url 'Package Design' %}">
										</a>
										{% elif portfolios.category.title == 'Web Development' %}
										<a class="ptf-work__link" href="{% url 'Web Development' %}">
										</a>
										{% endif %}
										<img style="border-radius: 9.25px;box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)"
											src="{{portfolios.image.crop.440x440}}" alt="" loading="lazy">
										<div class="text-block">
											<h6>{{portfolios.category.title}}</h6>
										</div>
									</div>
								</article>
							</div>
						</div>
						{% endfor %}
						<div class="ptf-animated-block text-center">
							<div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;">
							</div>
							<a class="ptf-btn ptf-btn--primary ptf-btn--in orangebutton" href="/portfolio" target="_self">More Works
								<i style="padding-left:7px;" class="lnil lnil-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
		</section>
		<!-- Latest work section end -->
		<!-- Our Apporch section -->
		<section class="gradient-bg">
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 3rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
			<div class="container-xxl">
				<!--Animated Block-->
				<div class="ptf-animated-block" data-aos-delay="0">
					<h2 class="h1title h1 large-heading text-center">
						<b>Rapidly increasing achievements through growth and experience</b>
					</h2>
				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 2.5rem; --ptf-md: 3.75rem;">
				</div>

				<div class="row" style="--bs-gutter-x: 3.75rem; --bs-gutter-y: 2.5rem">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 yellowconent ">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos-delay="0">
							<!--Approach Box-->
							<div class="ptf-approach-box space-approach"
								style="--ptf-title-color: var(--ptf-color-white);">

								<div class="ptf-approach-box__content text-center">
									<p class="parabox "><img class="phoneiconyellow" src="{% static 'img/phoneicon.png' %} " alt="phone icon"> CALL US DIRECTLY</p>
									<p class="yellowphone"><a href="tel:9526850904" class="atag">+91 9526 850 904</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 yellowconent ">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos-delay="100">
							<!--Approach Box-->
							<div class="ptf-approach-box space-approach"
								style="--ptf-title-color: var(--ptf-color-white);">

								<div class="ptf-approach-box__content text-center">
									<p class="parabox">1000+</p>
									<p class="yellowphone">HAPPY CLIENTS
										IN 10 YEARS</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 yellowconent  ">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos-delay="200">
							<!--Approach Box-->
							<div class="ptf-approach-box space-approach"
								style="--ptf-title-color: var(--ptf-color-white);">

								<div class="ptf-approach-box__content text-center">
									<p class="parabox">10000+</p>
									<p class="yellowphone">PROJECTS COMPLETED</p>
								</div>
							</div>
						</div>
					</div>
					<div class="">
						<h1 class="large-heading text-center">Do you have a project, maybe you are looking for
							creative solutions for web and app development</h1>
					</div>
					<center>
						<div class="ptf-animated-block" data-aos-delay="0" style="color: black;">
							<!--Button--><a class="ptf-btn ptf-btn--primary ptf-btn--in" href="{% url 'contact' %}"
								target="_self">REQUEST A QUOTE</a>
						</div>
					</center>
					<div class="col-xl-2">
					</div>
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 0rem;">
			</div>
		</section>
		<!-- Our Apporch section end -->
		<!-- Testimonial section -->
		<section>
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<center>
							<img class="bannersub" src="{% static 'img/adsa.png' %} " alt="">
							<h3 class="topheadingh3 d-inline-flex">Client Reviews</h3><img class="bannersub"
								style="margin-left: 3px;" src=" {% static 'img/adsa.png' %} " alt="">
						</center>
						<center>
							<h1 class="h1title"><b> People Say About Our Works And
									Say Our Agency</b></h1>
						</center>
						<div id="myCarousel" class="carousel slide testimonial" data-ride="carousel">
							<!-- Carousel indicators -->
							<!-- <ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
								<li data-target="#myCarousel" data-slide-to="2"></li>
							</ol> -->
							<!-- Wrapper for carousel items -->

							<div class="carousel-inner testimonialcaurosal">
								<div class="item active">
									<div class="col-lg-12 col-md-12">
										<div class="media">
											<div class="media-left d-flex center">
												<a href="#">
													<img class="testimimage"
														src=" {% static 'img/root/team/team-7-m.png' %} " alt="">
												</a>
											</div>
											<div class="media-body">
												<div class="testimonial">
													<p class="testip">Great thanks to Stunsky Design & Technologies"
														100% result-oriented digital solutions that can bring your
														business to the next level.</p>
													<p class="overview"><b>Sandhosh</b>,
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="col-lg-12 col-md-12">
										<div class="media">
											<div class="media-left d-flex center">
												<a href="#">
													<img class="testimimage"
														src=" {% static 'img/root/team/team-8-m.png' %} " alt="">
												</a>
											</div>
											<div class="media-body">
												<div class="testimonial">
													<p class="testip">The dedicated team of Stunsky solved my issues in
														maintaining a significant online presence, they got the best
														strategies and a great team.
													</p>
													<p class="overview"><b>Sunil</b>,
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="col-lg-12 col-md-12">
										<div class="media">
											<div class="media-left d-flex center">
												<a href="#">
													<img class="testimimage"
														src=" {% static 'img/root/team/team-9-m.png' %} " alt="">
												</a>
											</div>
											<div class="media-body">
												<div class="testimonial">
													<p class="testip">Stunsky Design & Technologies helped me in
														creating my brand identity and made it popular among the public.
														100% satisfaction with their work.
													</p>
													<p class="overview"><b>Amal</b>,
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Testimonial section end -->
		<!-- Partner logo section -->
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 0rem; --ptf-md: 5rem; --ptf-sm: 1rem; ">
			</div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos-delay="0">
							<h3 class="topheadingh3"><img src=" {% static 'img/adsa.png' %} " alt="" class="bannersub">
								Partners & Clients</h3>
							<h1 class="h1title"><b>Partnered with 180+ brands from 15+ countries</b></h1>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 3.5rem; --ptf-md: 3.75rem; --ptf-sm: 0rem;"></div>
					</div>
				</div>
				<div class="row" style="--bs-gutter-y: 0rem;">
					{% for cilent in clients %}
					<div class="col-3 col-md-3 col-lg-2 col-sm-3">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos-delay="0">
							<!--Partner Box-->
							<div class="ptf-partner-box partnerscet">
								<div class="ptf-partner-box__image"><img src=" {{cilent.image.url}} "
										alt="{{cilent.name}}" loading="lazy"></div>
								<!-- <h6 class="ptf-partner-box__title">{{cilent.name}} -->
								</h6>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;">
			</div>
		</section>
		<!-- Partner logo section end -->
	</article>
</main>


{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>


{% endblock %}