{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!--Main-->
<main class="ptf-main">
	<article class="ptf-page ptf-page--pricing">
		<section class="has-accent-1-background banner other">
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 16rem; --ptf-md: 12rem; --ptf-sm: 16rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-10">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h1 class="fz-70 fz-40--md fw-extrabold lh-1p1 has-white-color">Other Offerings</h1>
							<div class="ptf-spacer" style=" --ptf-xxl: 1rem;"></div>
							<p class="fz-18">We wish to produce our thoughts, latest news, events and updates through
								our creative and engaging blogs to keep the users entertained and educated.</p>

						</div>
					</div>
				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 4.375rem; --ptf-sm: 3.375rem;"></div>
			</div>

		</section>
		<section>
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
			<div class="container">
				<div class="row">
					
					{% comment %}
					<div class="col-xl-4 col-lg-4">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Pricing Table-->
							<div class="ptf-pricing-table">

								<div class="ptf-pricing-table__content">
									<ul>
										<li class="fz-70 fz-40--md fw-extrabold lh-1p1 has-black-color">DESIGN & DIGITAL
											MEDIA</li>

									</ul>
								</div>
								<div class="ptf-pricing-table__action">
									<!--Button--><a class="ptf-btn ptf-btn--primary ptf-btn--block" href="{% url 'design & digital media' %}"
										target="_self">Click Here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4">
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-lg: 0.9375rem;"></div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Pricing Table-->
							<div class="ptf-pricing-table ptf-pricing-table--featured">

								<div class="ptf-pricing-table__content">
									<ul>
										<li class="fz-70 fz-40--md fw-extrabold lh-1p1 has-black-color">IMAGE & DATA
											SERVICES</li>

									</ul>
								</div>
								<div class="ptf-pricing-table__action">
									<!--Button--><a class="ptf-btn ptf-btn--primary ptf-btn--block" href="{% url 'image & data services' %}"
										target="_self">Click Here</a>
								</div>
							</div>
						</div>
					</div>
					{% endcomment %}
					<div class="col-lg-5 col-md-12 offset-lg-1">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box " style="border-bottom: 1.5px solid var(--ptf-accent-1);padding: 2.125rem;"><a class="ptf-service-box__link" href="{% url 'design & digital media' %}"></a>
								<div class="ptf-service-box__icon"><i class="lnil lnil-cup"></i></div>
								<h5 class="ptf-service-box__title">DESIGN &
									DIGITAL MEDIA</h5>
								<div class="ptf-service-box__content">
									<p>We build and activate brands throung cultural insight &amp; strategic vision.
									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 col-md-12 offset-lg-1">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box " style="border-bottom: 1.5px solid var(--ptf-accent-1);    padding: 2.125rem;"><a class="ptf-service-box__link" href="{% url 'image & data services' %}"></a>
								<div class="ptf-service-box__icon"><i class="lnil lnil-website-rank"></i></div>
								<h5 class="ptf-service-box__title">IMAGE & DATA
									SERVICES</h5>
								<div class="ptf-service-box__content">
									<p>We build and activate brands throung cultural insight &amp; strategic vision.
									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
	
					</div>
					
				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-md: 2rem;"></div>
				<!--Animated Block-->

			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 0rem; --ptf-md: 5rem; --ptf-sm: 1rem;"></div>
		</section>

		<section>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-1">

					</div>
					<div class="col-xl-10">
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<center>
								<h1 class="h1title">
									<b>WHO WE SERVE</b> 
								</h1>

							</center>
							<div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;"></div>
						</div>
					</div>
				</div>
				{% comment %}
				<div class="row">
					<div class="col-xl-1 col-lg-1">

					</div>
					<div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
						<div class="ptf-spacer" style=" --ptf-lg: 0.9375rem;"></div>

						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">

							<!--Pricing Table-->
							<div class="ptf-pricing-table">

								<div class="ptf-pricing-table__content">
									<span class="icontop1"><i class="lnil lnil-book-alt"></i></span>
									<ul>
										
										<li class="whoserver">DESIGN &
											DIGITAL
											MEDIA</li>

									</ul>
								</div>

							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-lg: 0.9375rem;"></div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Pricing Table-->
							<div class="ptf-pricing-table ptf-pricing-table--featured">

								<div class="ptf-pricing-table__content">
									<span class="icontop1"><i class="lnil lnil-cart-alt"></i></span>

									<ul>
										<li class="whoserver">IMAGE &
											DATA
											SERVICES</li>

									</ul>
								</div>

							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
						<!--Animated Block-->
						<div class="ptf-spacer" style=" --ptf-lg: 0.9375rem;"></div>
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Pricing Table-->
							<div class="ptf-pricing-table">

								<div class="ptf-pricing-table__content">
									<span class="icontop1"><i class="lnil lnil-suitcase"></i></span>

									<ul>
										<li class="whoserver">DESIGN &
											DIGITAL
											MEDIA</li>

									</ul>
								</div>

							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-lg: 0.9375rem;"></div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Pricing Table-->
							<div class="ptf-pricing-table ptf-pricing-table--featured">

								<div class="ptf-pricing-table__content">
									<span class="icontop1"><i class="lnil lnil-laptop-alt"></i></span>

									<ul>
										<li class="whoserver">IMAGE &
											DATA
											SERVICES</li>

									</ul>
								</div>

							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-lg: 0.9375rem;--ptf-md: 0.9375rem;"></div>
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Pricing Table-->
							<div class="ptf-pricing-table ptf-pricing-table--featured">

								<div class="ptf-pricing-table__content">
									<span class="icontop1"><i class="lnil lnil-cog"></i></span>

									<ul>
										<li class="whoserver">IMAGE &
											DATA
											SERVICES</li>

									</ul>
								</div>

							</div>
						</div>
					</div>
					<div class="col-xl-1 col-lg-1">

					</div>
				</div>
				{% endcomment %}
				<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem;--ptf-sm: 2rem;"></div>

				<div class="row">
					<div class="col-lg-1">

					</div>
					<div class="col-6 col-sm-6 col-md-4 col-lg-2 my-5 text-center">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Counter Up-->
							<menu>
								<button class="buttn">
									<span class="icontop"><i class="lnil lnil-book-alt"></i></span>
									<span></span>
								</button>
								<h6 class="h6inservice1">DESIGN & DIGITAL MEDIA</h6>

							</menu>

						</div>
					</div>
					<div class="col-6 col-sm-6 col-md-4 col-lg-2 my-5 text-center">
						<!--Animated Block-->

						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Counter Up-->
							<menu>
								<button class="buttn">
									<span class="icontop"><i class="lnil lnil-cart-alt"></i></span>
									<span></span>
								</button>
								<h6 class="h6inservice1">IMAGE & DATA SERVICES</h6>
							</menu>

						</div>

					</div>

					<div class="col-6 col-sm-6 col-md-4 col-lg-2 my-5 text-center">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
							<!--Counter Up-->
							<menu>
								<button class="buttn">
									<span class="icontop"><i class="lnil lnil-suitcase"></i></span>
									<span></span>
								</button>
								<h6 class="h6inservice1">SMALL BUSINESS OWNERS</h6>

							</menu>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-md-4 col-lg-2 my-5 text-center">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
							<!--Counter Up-->
							<menu>
								<button class="buttn">
									<span class="icontop"><i class="lnil lnil-laptop-alt"></i></span>
									<span></span>
								</button>
								<h6 class="h6inservice1">DESIGN AGENCIES</h6>

							</menu>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-md-4 col-lg-2 my-5 text-center">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
							<!--Counter Up-->
							<menu>
								<button class="buttn">
									<span class="icontop"><i class="lnil lnil-cog"></i></span>
									<span></span>
								</button>
								<h6 class="h6inservice1">MANUFACTURING</h6>

							</menu>
						</div>
					</div>
					<div class="col-lg-1">

					</div>
					<div class="ptf-spacer" style=" --ptf-xxl:5rem; --ptf-md:5rem;--ptf-sm: 2rem;"></div>
				</div>
				<div class="ptf-spacer" style=" --ptf-xxl: 9.5rem; --ptf-md: 9.5rem;--ptf-sm: 3.5rem;"></div>

			</div>
			</div>
			</div>
			</div>
		</section>
	</article>
</main>

{% endblock %}