{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Main-->
<main class="ptf-main">
	<article class="ptf-page ptf-page--pricing">
		<section class="has-accent-1-background other">
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 16rem; --ptf-md: 12rem; --ptf-sm: 16rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-10">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h1 class="fz-70 fz-40--md fw-extrabold lh-1p1 has-white-color">Other Offerings</h1>
							<div class="ptf-spacer" style=" --ptf-xxl: 1rem;"></div>
							<p class="fz-18">We present diverse digital solutions to simplify your needs.</p>

						</div>
					</div>
				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 4.375rem; --ptf-sm: 3.375rem;"></div>
			</div>

		</section>
		<section>
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
			<div class="container">
				<div class="row">

					<div class="col-lg-4 col-md-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box otherofferings"
								style="border-bottom: 1.5px solid var(--ptf-accent-1);padding: 2.125rem;"><a
									class="ptf-service-box__link" href="{% url 'design & digital media' %}"></a>
								<div class="ptf-service-box__icon"><img
										src="{% static 'img/Services/Design Digital Marketing-01.png' %}" alt=""></div>
								<h5 class="ptf-service-box__title">DESIGN &
									DIGITAL MEDIA</h5>
								<div class="ptf-service-box__content">
									<p>We deliver the most effective solutions for your design and digital media needs.
									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box otherofferings"
								style="border-bottom: 1.5px solid var(--ptf-accent-1);    padding: 2.125rem;"><a
									class="ptf-service-box__link" href="{% url 'image & data services' %}"></a>
								<div class="ptf-service-box__icon"><img
										src="{% static 'img/Services/Image Data Service-01.png' %}" alt=""></div>
								<h5 class="ptf-service-box__title">IMAGE & DATA
									SERVICES</h5>
								<div class="ptf-service-box__content">
									<p>Our stunning image and data services can help you with your image and data needs.
									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>

					</div>
					<div class="col-lg-4 col-md-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Services Box-->
							<div class="ptf-service-box otherofferings"
								style="border-bottom: 1.5px solid var(--ptf-accent-1);    padding: 2.125rem;"><a
									class="ptf-service-box__link" href="{% url 'data-processing-services' %}"></a>
								<div class="ptf-service-box__icon"><img
										src="{% static 'img/Services/data-processing.png' %}" alt=""></div>
								<h5 class="ptf-service-box__title">DATA PROCESSING SERVICES
								</h5>
								<div class="ptf-service-box__content">
									<p>Delivering fruitful services that are best suited for your data processing
										services needs.
									</p>
								</div>
								<div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
							</div>
						</div>

					</div>

				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-md: 2rem;"></div>
				<!--Animated Block-->

			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 0rem; --ptf-md: 5rem; --ptf-sm: 1rem;"></div>
		</section>
		<section>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-1">

					</div>
					<div class="col-xl-10">
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<center>
								<h1 class="h1title">
									<b>WHO WE SERVE</b>
								</h1>

							</center>
							<div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;"></div>
						</div>
					</div>
				</div>

				<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem;--ptf-sm: 2rem;"></div>

				<div class="row">
					<div class="col-lg-1">

					</div>
					<div class="col-6 col-sm-6 col-md-4 col-lg-2 my-5 text-center">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Counter Up-->
							<menu>
								<button class="buttn">
									<span class="icontop"><i class="lnil lnil-book-alt"></i></span>
									<span></span>
								</button>
								<h6 class="h6inservice1">DESIGN & DIGITAL MEDIA</h6>

							</menu>

						</div>
					</div>
					<div class="col-6 col-sm-6 col-md-4 col-lg-2 my-5 text-center">
						<!--Animated Block-->

						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
							<!--Counter Up-->
							<menu>
								<button class="buttn">
									<span class="icontop"><i class="lnil lnil-cart-alt"></i></span>
									<span></span>
								</button>
								<h6 class="h6inservice1">IMAGE & DATA SERVICES</h6>
							</menu>

						</div>

					</div>

					<div class="col-6 col-sm-6 col-md-4 col-lg-2 my-5 text-center">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
							<!--Counter Up-->
							<menu>
								<button class="buttn">
									<span class="icontop"><i class="lnil lnil-suitcase"></i></span>
									<span></span>
								</button>
								<h6 class="h6inservice1">SMALL BUSINESS OWNERS</h6>

							</menu>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-md-4 col-lg-2 my-5 text-center">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
							<!--Counter Up-->
							<menu>
								<button class="buttn">
									<span class="icontop"><i class="lnil lnil-laptop-alt"></i></span>
									<span></span>
								</button>
								<h6 class="h6inservice1">DESIGN AGENCIES</h6>

							</menu>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-md-4 col-lg-2 my-5 text-center">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
							<!--Counter Up-->
							<menu>
								<button class="buttn">
									<span class="icontop"><i class="lnil lnil-cog"></i></span>
									<span></span>
								</button>
								<h6 class="h6inservice1">MANUFACTURING</h6>

							</menu>
						</div>
					</div>
					<div class="col-lg-1">

					</div>
					<div class="ptf-spacer" style=" --ptf-xxl:5rem; --ptf-md:5rem;--ptf-sm: 2rem;"></div>
				</div>
				<div class="ptf-spacer" style=" --ptf-xxl: 9.5rem; --ptf-md: 9.5rem;--ptf-sm: 3.5rem;"></div>

			</div>
		</section>
	</article>
</main>

{% endblock %}