{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<!--Main-->
<main class="ptf-main">
	<article class="ptf-page ptf-page--service-detail">
		<section class="has-accent-1-background other">
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 18rem; --ptf-md: 16rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-9">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h1 class="fz-70 fz-40--md fw-extrabold lh-1p1 has-white-color">Packaging</h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1rem;"></div>
							<h4 class="fz-18">Delivering the best first look for your products.</h4>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
					</div>
					<div class="col-lg-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Simple Image-->
							<div class="ptf-simple-image"><a href=" {% static 'img/service-detail.png' %} "
									data-fancybox rel="nofollow"><img src=" {% static 'img/service-detail.png' %} "
										alt="" loading="lazy"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 2rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h3 class="topheadingh3"><img class="bannersub" src=" {% static 'img/adsa.png' %} " alt="">
								Sell With Stunsky</h3>
							<h1 class="h1title"><b>Making the best marketing face for your product
								</b></h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1.5rem;"></div>
							<p class="fz-18">Being one of the top package designers in Kerala, Stunsky Design &
								Technologies, is happy to assist you in designing the ideal packaging designs for your
								products. Since your product's packaging serves as its public face, we are excited to
								provide the greatest package conceivable for you. The package design we create for you
								will enable you to convey your identity subtly. Since we have the best team of designers
								to turn your dream idea into reality and we have years of experience in this sector, we
								can ensure you that the designs we create will be of the highest quality and will be
								packaged in the best possible way. By package planning, we deliver the characteristics
								of items within an eye-catching package, eliminating tricks and maximizing selling
								strategies.
							</p>
						</div>


						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 4.375rem;"></div>
						<!--Animated Block-->

						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 1.125rem;--ptf-sm: 0.125rem;"></div>
						<div class="row" style="--bs-gutter-x: 3.75rem; --bs-gutter-y: 1.5rem">
							<div class="col-lg-1 col-md-1 col-sm-1 col-1 ">

							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><img
													src=" {% static 'img/Services/Talented graphic designers-01.png' %} "
													alt=""></span>
											<span></span>
										</button>
										<h6 class="h6inservice">
											Talented graphic designers</h6>

									</menu>

								</div>
							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->

								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><img
													src=" {% static 'img/Services/Buyer pleasing & unique design-01.png' %} "
													alt=""></span>
											<span></span>
										</button>
										<h6 class="h6inservice">
											Buyer pleasing & unique design</h6>
									</menu>

								</div>

							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><img
													src=" {% static 'img/Services/eye-getting configuration-01.png' %} "
													alt=""></span>
											<span></span>
										</button>
										<h6 class="h6inservice">
											eye-getting configuration</h6>

									</menu>
								</div>
							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><img
													src=" {% static 'img/Services/quality work-01.png' %} "
													alt=""></span>
											<span></span>
										</button>
										<h6 class="h6inservice">
											Quality Work</h6>

									</menu>
								</div>
							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><img
													src=" {% static 'img/Services/24x7 customer support-01.png' %} "
													alt=""></span>
											<span></span>
										</button>
										<h6 class="h6inservice">
											24x7 customer support</h6>

									</menu>
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 col-1">

							</div>
						</div>

					</div>
				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
		</section>
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 15rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
			<div class="container-xxl">
				<div class="row align-items-center">
					<div class="col-12 col-lg-12 col-md-12 col-sm-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h3 class="topheadingh3"><img class="bannersub" src="{% static 'img/adsa.png' %} "
									alt="">Our
								Projects</h3>
							<h1 class="h1title"><b>Some of our creative projects</b></h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1.5rem;"></div>

						</div>

					</div>

				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 2rem; --ptf-md: 2rem; --ptf-sm: 0rem;"></div>
				<!--Animated Block-->
				<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">

					<div class="row">
						{% for i in portfolio %}
						<div class="col-lg-4 col-md-4 col-sm-6 col-6">
							<div class="swiper-slide">
								<div>
									<!--Portfolio Item-->
									<article class="ptf-work ptf-work--style-1">
										<div class="ptf-work__media"><a class="ptf-work__link" href="#"></a><img
												class="projectimg" src=" {{i.image.crop.440x440}}" alt=""
												loading="lazy">
										</div>

									</article>
								</div>
							</div>
						</div>
						{% endfor %}


					</div>



				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
		</section>
	</article>
</main>

{% endblock %}