{% extends 'partials/base.html' %}
{% load static %}
{% block content %}




<!--Main-->
<main class="ptf-main">
	<article class="ptf-page ptf-page--service-detail">
		<section class="has-accent-1-background other">
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 18rem; --ptf-md: 16rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-9">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h1 class="fz-70 fz-40--md fw-extrabold lh-1p1 has-white-color">UI/UX</h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1rem;"></div>
							<h4 class="fz-18">Build stunning user interfaces with Stunsky Technologies.</h4>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
					</div>
					<div class="col-lg-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Simple Image-->
							<div class="ptf-simple-image"><a href=" {% static 'img/service-detail.png' %} "
									data-fancybox rel="nofollow"><img src=" {% static 'img/service-detail.png' %} "
										alt="" loading="lazy"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 2rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h3 class="topheadingh3"><img class="bannersub" src="../static/img/adsa.png" alt=""> UI/UX With Stunsky
							</h3>
							<h1 class="h1title"><b>Create stunning UI/UX designs with Stunsky
							</b></h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1.5rem;"></div>
							<p class="fz-18">Since 2018, Stunsky Technologies has earned a reputation as one of the top UI/UX Design firms in Kerala, India. Any online service provider would want to have genuine design talent on their team to deliver the best output to the client. A pioneering artist can prevail in this industry by perfectly blending creativity and reality since it is not just a piece of art, but a practical business solution. In order to provide our clients with the best service possible, Stunsky has employed the best UI/UX designers to deliver the most pleasing designs.
							</p>
						</div>


						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 4.375rem;"></div>
						<!--Animated Block-->

						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 1.125rem;--ptf-sm: 0.125rem;"></div>
						<div class="row" style="--bs-gutter-x: 3.75rem; --bs-gutter-y: 1.5rem">
							<div class="col-lg-1 col-md-1 col-sm-1 col-1 ">

							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><img src=" {% static 'img/Services/Talented graphic designers-01.png' %} " alt=""></span>
											<span></span>
										</button>
										<h6 class="h6inservice">
											Talented graphic designers</h6>

									</menu>

								</div>
							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->

								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><img src=" {% static 'img/Services/Buyer pleasing & unique design-01.png' %} " alt=""></span>
											<span></span>
										</button>
										<h6 class="h6inservice">
											Buyer pleasing & unique design</h6>
									</menu>

								</div>

							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><img src=" {% static 'img/Services/eye-getting configuration-01.png' %} " alt=""></span>
											<span></span>
										</button>
										<h6 class="h6inservice">
											eye-getting configuration</h6>

									</menu>
								</div>
							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><img src="../static/img/Services/Talented graphic designers-01.png" alt=""></span>
											<span></span>
										</button>
										<h6 class="h6inservice">
											Mockup Design</h6>

									</menu>
								</div>
							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><img src=" {% static 'img/Services/24x7 customer support-01.png' %} " alt=""></span>
											<span></span>
										</button>
										<h6 class="h6inservice">
											24x7 customer support</h6>

									</menu>
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 col-1">

							</div>
						</div>

					</div>

				</div>
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
		</section>

		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 15rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
			<div class="container-xxl">
				<div class="row align-items-center">
					<div class="col-12 col-lg-12 col-md-12 col-sm-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h3 class="topheadingh3"><img class="bannersub" src="../static/img/adsa.png" alt="">Our
								Projects</h3>
							<h1 class="h1title"><b>Some of our creative projects</b></h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 1.5rem;"></div>

						</div>
					</div>

				</div>

				<!--Spacer-->
				<!--Animated Block-->
				<div class="ptf-spacer" style=" --ptf-xxl: 2rem; --ptf-md: 2rem; --ptf-sm: 0rem;"></div>

				<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">

					<div class="row">
						{% for i in portfolio %}
						<div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
							<div class="swiper-slide">
								<div>
									<!--Portfolio Item-->
									<article class="ptf-work ptf-work--style-1">
										<div class="ptf-work__media"><a class="ptf-work__link" href="#"></a><img
												class="projectimg" src=" {{i.image.crop.440x440}}" alt=""
												loading="lazy">
										</div>

									</article>
								</div>
							</div>
						</div>
						{% endfor %}


					</div>



				</div>
			</div>
			</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 5rem; --ptf-sm: 2rem;"></div>
		</section>
	</article>
</main>

{% endblock %}
