{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<style>
	/* menu {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 60px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	menu li {
		width: 170px;
		height: 60px;
	}

	menu button {
		transition: all 450ms cubic-bezier(.4, .25, .3, 1.3);
		width: 130px;
		height: 130px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		color: #000000;
		border: 1px solid #fe6b01;
		border-radius: 50%;
		cursor: pointer;
		overflow: hidden;
	}

	menu button span {
		transition: all 400ms cubic-bezier(.4, .25, .3, 1.3) 100ms;
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 1.5rem;
		font-weight: 900;
		line-height: 60px;
		vertical-align: middle;
	}

	menu button span:first-of-type {
		font-size: 2.5rem;
		transform: translate(-50%, -50%);
	}

	menu button span:last-of-type {
		transform: translate(-50%, 50%);
		text-transform: uppercase;
	} */
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">




<!--Main-->
<main class="ptf-main">
	<article class="ptf-page ptf-page--service-detail">
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 18rem; --ptf-md: 16rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-9">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h1 class="fz-70 fz-40--md fw-extrabold lh-1p1 has-white-color">UI/UX Solution</h1>
							<!--Spacer-->
							<div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;"></div>
							<p class="fz-24 fz-40--md fw-extrabold lh-1p1 has-black-color">Grow your brand with the most
								creative designers.</p>
						</div>
						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
					</div>
					<div class="col-lg-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<!--Simple Image-->
							<div class="ptf-simple-image"><a href=" {% static 'img/service-detail.png' %} "
									data-fancybox rel="nofollow"><img src=" {% static 'img/service-detail.png' %} "
										alt="" loading="lazy"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 5.625rem; --ptf-md: 2.8125rem;"></div>
			<div class="container-xxl">
				<div class="row">
					<div class="col-xl-12">
						<!--Animated Block-->

						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h2><img src="../static/img/adsa.png" alt="" class="bannersub"><b>Our Projects</b> </h2>
							<p class="fz-60 fz-40--md fw-extrabold lh-1p1 has-black-color">The best designing company in
								<br>Calicut to create your UI/UX
							</p>
							<div class="ptf-spacer" style=" --ptf-xxl: 1.375rem;"></div>
							<p class="fz-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								Lorem Ipsum has been the industry's standard
								dummy text ever since the 1500s, when an unknown printer took a galley of type and
								scrambled it to make a type specimen
								book. It has survived not only five centuries, but also the leap into electronic
								typesetting, remaining essentially unchanged. It
								was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
								passages, and more recently with
								desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						</div>

						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 4.375rem;"></div>
						<!--Animated Block-->

						<!--Spacer-->
						<div class="ptf-spacer" style=" --ptf-xxl: 3.125rem;"></div>
						<div class="row" style="--bs-gutter-x: 3.75rem; --bs-gutter-y: 7.5rem">
							<div class="col-lg-1 col-md-1 col-sm-1 col-1 ">

							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><i class="lnil lnil-users-alt"></i></span>
											<span></span>
										</button>
									</menu>

								</div>
							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="100">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><i class="lnil lnil-dollar-up"></i></span>
											<span></span>
										</button>
									</menu>

								</div>
							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><i class="lnil lnil-dollar"></i></span>
											<span></span>
										</button>
									</menu>
								</div>
							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
									<!--Counter Up-->
									<menu>
										<button>
											<span class="icontop"><i class="lnil lnil-files-alt"></i></span>
											<span></span>
										</button>
									</menu>
								</div>
							</div>
							<div class="col-2 col-sm-2 col-md-2 col-lg-2">
								<!--Animated Block-->
								<div class="ptf-animated-block" data-aos="fade" data-aos-delay="200">
									<!--Counter Up-->
									<menu>
										<button>
											<span>$</span>
											<span></span>
										</button>
									</menu>
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 col-1">

							</div>
						</div>
						
				</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem; --ptf-sm: 0.125rem;"></div>
		</section>

		<section>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 16.875rem; --ptf-md: 3.4375rem; --ptf-sm: 0.4375rem;"></div>
			<div class="container-xxl">
				<div class="row align-items-center">
					<div class="col-12 col-lg-12 col-md-12 col-sm-12">
						<!--Animated Block-->
						<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
							<h2><img src="../static/img/adsa.png" alt="" class="bannersub"><b>Our Projects</b> </h2>
							<div class="ptf-spacer" style=" --ptf-xxl: 1.875rem; --ptf-md: 3.4375rem; --ptf-sm: 1.4375rem;"></div>
							<p class="fz-60 fz-40--md fw-extrabold lh-1p1 has-black-color">Some of our creative projects
							</p>
						</div>
					</div>

				</div>
			
				<!--Spacer-->
				<div class="ptf-spacer" style=" --ptf-xxl: 3.4375rem;"></div>
				<!--Animated Block-->
				<div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">

					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 col-6">
							<div class="swiper-slide">
								<div>
									<!--Portfolio Item-->
									<article class="ptf-work ptf-work--style-1">
										<div class="ptf-work__media"><a class="ptf-work__link"
												href="portfolio-showcase-1.html"></a><img class="projectimg"
												src=" {% static 'img/portfolio/work-1.png' %} " alt="" loading="lazy">
										</div>
										
									</article>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-6">
							<div class="swiper-slide">
								<div>
									<!--Portfolio Item-->
									<article class="ptf-work ptf-work--style-1">
										<div class="ptf-work__media"><a class="ptf-work__link"
												href="portfolio-showcase-1.html"></a><img class="projectimg"
												src=" {% static 'img/portfolio/work-1.png' %} " alt="" loading="lazy">
										</div>
										
									</article>
								</div>
							</div>
						</div>
	
					</div>
				
					
					
				</div>
			</div>
			</div>
			</div>
			<!--Spacer-->
			<div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
		</section>
	</article>
</main>

{% endblock %}